---
layout: page
permalink: '/contact-us/'
title: Contact Us
redirect_from: '/contact-us.html'
full: true
--- 
<div class = 'grid-1'>  
  <div class = 'address'>
    {% assign contacts = site.data.contacts %}
    <div class = 'tabs'>
      <div class = 'tab_switch'>
        {% for contact in contacts %}
        <div class = 'tab {% if forloop.first %}tab_active{% endif %}'>
          <img src = '/assets/country/{{ contact.country | downcase }}.jpg'>
        </div>
        {% endfor %}
      </div>
      
      <div class = 'tab_content profile-text'>
        {% for contact in contacts %}
        <div class = 'tab_item {% if forloop.first %}tab_item_active{% endif %}'>
          <h3 class = 'slim'>{{ contact.country | capitalize }}</h3>
          {% for region in contact.regions %}
            <p><span class = 'region-title'>{{ region.name }}</span></p>
            {% for detail in region.details %}
              {{ detail | markdownify }}
            {% endfor %}
            {% if region.directions %}
            <div class = 'definition def'>
              <span class = 'definition_title'></span><span>View Map</span>
              <span class = 'hide definition_desc'>{{ region.directions }}</span>
            </div>
            {% endif %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>             
  <div>            
    {% include form.html %} 
  </div>
</div>    
<div class = 'overlay modal_overlay contain hide'>
  <div class = 'definition_modal pt-4 popup'>
    <div class = 'definition_body'></div> 
    <span class = 'definition_term'></span>
    <div class = 'modal_close contain'>&times;</div>
  </div>
</div>