---
layout: default
permalink: '/'
description: "Founded in 1987, Computech Limited is a leading East African systems integrator, providing technology solutions to solve businesses’ most important problems."
slides:
  - slide01
  - slide02
  - slide03
  - slide04
---
{%- assign slides = site.data.slides -%}
<div class = 'slides_container'>
  <div class = 'slides' tabindex = '0'>
  {% for item in page.slides %}
    <div class = 'slide slide_home {% if forloop.first %}slide_active{% endif %}' style = 'background-image: url(/assets/images/{{ item }}.jpg)'>
    </div>
  {% endfor %}
  </div>
  <div class = 'dots'>
  {% for item in page.slides %}
    <div class = 'dot {% if forloop.first %} dot_active {% endif %}'></div>
  {% endfor %}
  </div>
  <div class = 'direction'>
    <div class = 'slide_left'><img src = '/assets/icons/back.svg' alt = 'icon'></div>
    <div class = 'slide_right'><img src = '/assets/icons/front.svg' alt = 'icon'></div>
  </div>
</div>
<div class = 'mb-4 mt-4'>
  {%- for slide in slides -%}
  <div class = ' wrap'>
    {{ slide.description | markdownify }}
  </div>
  {%- endfor -%}
</div>

<section class = 'wrap mb-4'>
  <h5 class = 'orange'>TALK TO SALES</h5>
  <h2>Our experts love to answer questions.</h2>
  <h5 class = 'orange'>OUR SERVICE CENTRE</h5>
  <ul class = 'list mt-2'>
    <li>One Stop Shop for all IT related repairs</li>
    <li>HP Authorised Service Centre and HP Gold Partner</li>
    <li>Excellent customer service to meet all your needs</li>
    <li>Fully equipped Service Centre with certified engineers offering warranty support and repairs</li>
  </ul>
</section>
