<div id="comments" class="comments-area">
  <h2 class="comments-title">
    3 Comments
  </h2>
  <ol class="comment-list">
    <li id="comment-203" class="comment even thread-even depth-1">
      <article id="div-comment-203" class="comment-body">
        <footer class="comment-meta">
          <div class="comment-author vcard">
            <img alt='' src='http://2.gravatar.com/avatar/23d3e08a77fdb5509b328d8b45982c48?s=32&#038;d=mm&#038;r=g' srcset='http://2.gravatar.com/avatar/23d3e08a77fdb5509b328d8b45982c48?s=64&#038;d=mm&#038;r=g 2x' class='avatar avatar-32 photo' height='32' width='32' />
            <b class="fn">
              <a href='https://plus.google.com/u/0/b/114948440747910166197/114948440747910166197/posts/fMRCevE8Z5t' rel='external nofollow' class='url'>Vince Saldivar</a></b> <span class="says">says:</span>					</div>  
            <div class="comment-metadata">
              <a href="http://blog.computechlimited.com/2017/09/04/4-reasons-to-plan-for-a-next-generation-firewall-with-computech/#comment-203">
                <time datetime="2018-04-10T08:11:31+00:00">
                  April 10, 2018 at 8:11 am							</time>
                </a>
                <span class="edit-link"><a class="comment-edit-link" href="http://blog.computechlimited.com/wp-admin/comment.php?action=editcomment&#038;c=203">Edit</a></span>
              </div>
                
              </footer>
              
              <div class="comment-content">
                <p>I really liked your article.Thanks Again.</p>
              </div>
              
              <div class="reply"><a rel='nofollow' class='comment-reply-link' href='http://blog.computechlimited.com/2017/09/04/4-reasons-to-plan-for-a-next-generation-firewall-with-computech/?replytocom=203#respond' onclick='return addComment.moveForm( "div-comment-203", "203", "respond", "258" )' aria-label='Reply to Vince Saldivar'>Reply</a></div>			</article><!-- .comment-body -->
            </li><!-- #comment-## -->
            <li id="comment-3055" class="comment odd alt thread-odd thread-alt depth-1">
              <article id="div-comment-3055" class="comment-body">
                <footer class="comment-meta">
                  <div class="comment-author vcard">
                    <img alt='' src='http://2.gravatar.com/avatar/ef3a91cfe2e419955184816b862db6fb?s=32&#038;d=mm&#038;r=g' srcset='http://2.gravatar.com/avatar/ef3a91cfe2e419955184816b862db6fb?s=64&#038;d=mm&#038;r=g 2x' class='avatar avatar-32 photo' height='32' width='32' />						<b class="fn"><a href='http://www.purevolume.com/listeners/Jupilo' rel='external nofollow' class='url'>Blaine Saha</a></b> <span class="says">says:</span>					</div><!-- .comment-author -->
                    
                    <div class="comment-metadata">
                      <a href="http://blog.computechlimited.com/2017/09/04/4-reasons-to-plan-for-a-next-generation-firewall-with-computech/#comment-3055">
                        <time datetime="2018-05-11T00:27:43+00:00">
                          May 11, 2018 at 12:27 am							</time>
                        </a>
                        <span class="edit-link"><a class="comment-edit-link" href="http://blog.computechlimited.com/wp-admin/comment.php?action=editcomment&#038;c=3055">Edit</a></span>					</div><!-- .comment-metadata -->
                        
                      </footer><!-- .comment-meta -->
                      
                      <div class="comment-content">
                        <p>Your very own dedication to getting the message throughout came to be rather potent and have always enabled employees just like me to arrive at their desired aims.</p>
                      </div><!-- .comment-content -->
                      
                      <div class="reply"><a rel='nofollow' class='comment-reply-link' href='http://blog.computechlimited.com/2017/09/04/4-reasons-to-plan-for-a-next-generation-firewall-with-computech/?replytocom=3055#respond' onclick='return addComment.moveForm( "div-comment-3055", "3055", "respond", "258" )' aria-label='Reply to Blaine Saha'>Reply</a></div>			</article><!-- .comment-body -->
                    </li><!-- #comment-## -->
          <li id="comment-3483" class="comment even thread-even depth-1">
                      <article id="div-comment-3483" class="comment-body">
        <footer class="comment-meta">
          <div class="comment-author vcard">
            <img alt='' src='http://2.gravatar.com/avatar/e4d6b495dd1e5c189eb2304532113e16?s=32&#038;d=mm&#038;r=g' srcset='http://2.gravatar.com/avatar/e4d6b495dd1e5c189eb2304532113e16?s=64&#038;d=mm&#038;r=g 2x' class='avatar avatar-32 photo' height='32' width='32' />						<b class="fn"><a href='https://creativemarket.com/toma308328' rel='external nofollow' class='url'>Keneth Sideris</a></b> <span class="says">says:</span>	
          </div>
            <div class="comment-metadata">
              <a href="http://blog.computechlimited.com/2017/09/04/4-reasons-to-plan-for-a-next-generation-firewall-with-computech/#comment-3483">
                <time datetime="2018-05-14T19:20:37+00:00">
                  May 14, 2018 at 7:20 pm							</time>
                </a>
                <span class="edit-link"><a class="comment-edit-link" href="http://blog.computechlimited.com/wp-admin/comment.php?action=editcomment&#038;c=3483">Edit</a></span>
              </div>    
            </footer>
        <div class="comment-content">
          <p>Hi, I find reading this article a joy. It is extremely helpful and interesting and very much looking forward to reading more of your work..</p>
        </div>              
        <div class="reply">
          <a rel='nofollow' class='comment-reply-link' href='http://blog.computechlimited.com/2017/09/04/4-reasons-to-plan-for-a-next-generation-firewall-with-computech/?replytocom=3483#respond' onclick='return addComment.moveForm( "div-comment-3483", "3483", "respond", "258" )' aria-label='Reply to Keneth Sideris'>Reply</a>
        </div>	           
      </article>
    </li>
  </ol>                          
  <div id="respond" class="comment-respond">
    <h3 id="reply-title" class="comment-reply-title">Leave a Reply 
      <small><a rel="nofollow" id="cancel-comment-reply-link" href="/2017/09/04/4-reasons-to-plan-for-a-next-generation-firewall-with-computech/#respond" style="display:none;">Cancel reply</a></small></h3>			<form action="http://blog.computechlimited.com/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
      <p class="comment-form-comment"><label for="comment">Comment</label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea></p><p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /> <input type='hidden' name='comment_post_ID' value='258' id='comment_post_ID' />
        <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
      </p><input type="hidden" id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment_disabled" value="843485b164" /><script>(function(){if(window===window.parent){document.getElementById('_wp_unfiltered_html_comment_disabled').name='_wp_unfiltered_html_comment';}})();</script>
    </form>
  </div>
</div>