<div class = 'grid-2 mt-4 wrap'>
  {%- for item in devices -%}
  <div class = 'product'>
    <div class = 'product_image' style = 'background-image: url(/assets/devices/{{ category }}/{% if item.brand %}{{item.brand}}/{% endif %}{{ item.image }})'></div>
    <div class = 'product_body'>
      <div class = 'product_desc'>{{ item.name }}</div>
      <div class = 'product_price'>{{ item.price }}</div>
      <div class = 'product_status {{ item.status | slugify | downcase }}'>{{ item.status }}</div>
    </div>
    {%- if item.description -%}
    <div class = 'product_footer'>
      {% for detail in item.description %}
      <div class = 'product_spec'>
        <span class = 'decorate'>&#x2714;</span>
        <div>{{ detail }}</div>
      </div>
      {% endfor %}
    </div>
    {%- endif -%}
  </div>
  {%- endfor -%}       
</div>
  