<footer class = 'footer'>
  <div class = 'wrap grid-1'>     
    <div class = 'flex_row'>
      <p class = 'mute center_xs'>Copyright &copy; <span class = 'year'></span> Computech Limited. All Rights Reserved</p>
    </div>
    <div class = 'mute'>
      <span class = 'hide_xs'>Follow Us</span>
      <div class = 'footer_share'>
      {%- for item in site.data.social -%}
        <a href = '{{ item.url }}' class = 'contain {{ item.name }}' target = '_blank' rel = 'noopener'><img src='/assets/icons/{{ item.name | slugify }}.svg' alt = '{{item.name }} icon' /></a>
      {%- endfor -%}
      </div>
    </div>
  </div>          
</footer>