<footer class = 'footer'>
  <div class = 'wrap grid-1'>     
    <div>
      <p class = 'mute'>Copyright &copy; <span class = 'year'></span> Computech Limited. All Rights Reserved</p>     
    </div>
    <div>
      <p class = 'follow mute'>Follow us
        <a href = 'https://www.facebook.com/ComputechLimited/' target = '_blank'>
          <i class='fab fa-facebook-f'></i></a>
        </a>
        <a href = 'https://twitter.com/WeAreComputech' target = '_blank'>
          <i class='fab fa-twitter'></i></a>
        </a>
        <a href = 'https://www.linkedin.com/company/computech-limited?trk=company_logo' target = '_blank'> 
          <i class='fab fa-linkedin-in'></i>
        </a>
      </p>
    </div>
  </div>          
</footer>