
<div id="MiRevenue-modal">
  <div  id="btn-close-modal" class="close-MiRevenue-modal"> 
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
  <div class="modal-content">
    <div class="container-fluid">
      <div class="row">
        <div class=" col-lg-9 col-md-9 col-sm-9">
          <object data="/assets/PDF/miLoyalty%20(2).pdf"  type="application/pdf" width="100%" height="800px"> 
            <p>It appears you don't have a PDF plugin for this browser. No biggie... you can <a href="/assets/PDF/miLoyalty%20(2).pdf">click here to download the PDF file.</a></p>  
          </object>                        
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3">
          <h3>References</h3>
          <img src="/assets/Ref/Standard.jpg" height="120px" width="180px"><br>
          <img src="/assets/Ref/NBD.jpg" height="120px" width="180px"><br>
          <img src="/assets/Ref/islamic.jpg" height="120px" width="180px"><br>
          <img src="/assets/Ref/NED.png" height="120px" width="180px">
        </div>
      </div>
    </div>      
  </div>
</div>

<!--MiPricing modal-->
<div id="MiPricing-modal">
  <div  id="btn-close-modal" class="close-MiPricing-modal"> 
    <img src="/assets/modal-close/close%20.png">
  </div>
  <div class="modal-content">
    <div class="row">
      <div class="col-md-9 col-lg-9">
        <object data="/assets/PDF/miPricing%20(1).pdf"  type="application/pdf" width="100%" height="800px"> 
          <p>It appears you don't have a PDF plugin for this browser. No biggie... you can <a href="/assets/PDF/miPricing%20(1).pdf">click here to download the PDF file.</a></p>  
        </object>                         
      </div>
      <div class="col-md-3 col-lg-3">
        <h3>Ref</h3>         
        <img src="/assets/Ref/barclays.gif" height="120px" width="180px">
      </div>
    </div>      
  </div>
</div>

<!--MiEarnings modal-->
<div id="MiEarnings-modal">
  <div  id="btn-close-modal" class="close-MiEarnings-modal"> 
    <i class="fa fa-times" aria-hidden="true"></i>
  </div> 
  <div class="modal-content">
    <!--Your modal content goes here-->
    <object data="/assets/PDF/miEarnings.pdf"  type="application/pdf" width="100%" height="800px"> 
      <p>It appears you don't have a PDF plugin for this browser. No biggie... you can <a href="/assets/PDF/miEarnings.pdf">click here to download the PDF file.</a></p>  
    </object>
  </div>
</div>

<!--DEMO01-->
<div id="MiBilling-modal">
  <div  id="btn-close-modal" class="close-MiBilling-modal"> 
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
  <div class="modal-content">
    <!--Your modal content goes here-->  
    <object data="/assets/PDF/miBilling.pdf" type="application/pdf" width="100%" height="800px"> 
      <p>It appears you don't have a PDF plugin for this browser. No biggie... you can <a href="/assets/PDF/miBilling.pdf">click here to download the PDF file.</a></p>  
    </object>
  </div>
</div>

<!--DEMO01-->
<div id="Aria-modal">
  <div  id="btn-close-modal" class="close-Aria-modal"> 
    <i class="fa fa-times" aria-hidden="true"></i>
  </div>
  <div class="modal-content">
    <!--Your modal content goes here-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-sm-9 col-lg-9">
          <object data="/assets/PDF/ARIA%20-%20ENTERPRISE.pdf"type="application/pdf" width="100%" height="800px"> 
            <p>It appears you don't have a PDF plugin for this browser. No biggie... you can <a href="/assets/PDF/ARIA%20-%20ENTERPRISE.pdf">click here to download the PDF file.</a></p>  
          </object>                          
        </div>
        <div  class="col-md-3 col-sm-3 col-lg-3">
          <h3>References</h3>
          <img src="/assets/Ref/Dyer&Blair-logo.png" height="100px" width="100px"><br>
          <img src="/assets/Ref/Aqua.png" height="120px" width="180px">
        </div>
      </div>
    </div>  
  </div>
</div>