<div class = 'navbar navbar-default navbar-fixed-top' role = 'navigation'>
  <div class = 'wrap'>
    <div class = 'navbar-header'>
      <button type = 'button' class = 'navbar-toggle' data-toggle = 'collapse' data-target = '.navbar-collapse'>
        <span class = 'sr-only'>Toggle navigation</span>
        
      </button>
      <a class = 'logo' href = '/'><img src = '/assets/images/computech.jpg' alt = 'Computech Limited'></a>
    </div>
    <div class = 'navbar-collapse collapse'>
      <ul class = 'nav navbar-nav navbar-right'>
        {% for link in site.data.nav %}
        <li>
          {%- assign l_url = link.link | slugify  -%}
          {%- assign url_len = l_url.size | plus : 2 -%}
          {%- assign t = page.permalink | slice : 0, url_len -%}
          {%- assign root_link = t | replace :  '/', '' -%}
          <a href = '/{{ l_url }}/' class = "nav_link {% if l_url == root_link %} nav_link-active {% endif %} {% if page.layout == 'post' and link.link == 'blog' %} nav_link-active {% endif %}{% if page.layout == 'tags' and link.link == 'blog' %} nav_link-active {% endif %}">{{ link.link | upcase }}{% if link.sublinks %}<span class = 'caret'></span>{% endif %}</a>
            {% if link.sublinks %}
            <ul class = 'dropdown-menu animated fadeIn'>
              {% for sublink in link.sublinks %}
              <li>
                {%- assign s_url = sublink.sublink | slugify  -%}
                <a href = '/{{ l_url }}/{{ s_url }}/'><span class = 'menu-link'> {{ sublink.sublink | upcase }}</span>{% if sublink.children %}<span class = 'caret'></span>{% endif %}</a>
                  {% if sublink.children %}
                  <ul class = 'dropdown-menu animated fadeIn'>
                    {% for child in sublink.children %}
                    {%- assign c_url = child | slugify  -%}
                    <li><a href = '/{{ l_url }}/{{ s_url }}/{{ c_url }}/'>{{ child | upcase }}</a></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
