<aside id="recent-comments-2" class="widget widget_recent_comments">
  <h2 class="widget-title">Recent Comments<span></span></h2>
  <ul id="recentcomments">
    <li class="recentcomments">
      <span class="comment-author-link"><a href='http://www.rotuloslevante.com/' rel='external nofollow' class='url'>rotulos</a></span> on 
      <a href="/2017/10/04/5-reasons-to-invest-in-video-conferencing-solutions/#comment-7216">5 Reasons to Invest in Video Conferencing Solutions</a>
    </li>
    <li class="recentcomments">
      <span class="comment-author-link"><a href='https://hubpages.com/@lyma054' rel='external nofollow' class='url'>Hassan Calvaresi</a></span> on <a href="/2017/10/04/5-reasons-to-invest-in-video-conferencing-solutions/#comment-3675">5 Reasons to Invest in Video Conferencing Solutions</a>
    </li>
    <li class="recentcomments">
      <span class="comment-author-link"><a href='https://creativemarket.com/toma16328' rel='external nofollow' class='url'>Reita Lapsley</a></span> on <a href="/2017/06/30/petya-ransomware-another-reason-to-protect-your-technology/#comment-3551">Petya Ransomware: Another Reason to Protect your Technology</a>
    </li>
    <li class="recentcomments">
      <span class="comment-author-link"><a href='http://www.zippyshare.com/toma98aj' rel='external nofollow' class='url'>Armanda Doukas</a></span> on <a href="/2017/10/04/5-reasons-to-invest-in-video-conferencing-solutions/#comment-3501">5 Reasons to Invest in Video Conferencing Solutions</a>
    </li>
    <li class="recentcomments">
      <span class="comment-author-link"><a href='https://creativemarket.com/toma308328' rel='external nofollow' class='url'>Keneth Sideris</a></span> on <a href="/2017/09/04/4-reasons-to-plan-for-a-next-generation-firewall-with-computech/#comment-3483">4 Reasons to plan for a next-generation firewall with Computech</a>
    </li>
  </ul>
</aside>