<script src = 'https://code.jquery.com/jquery-1.11.3.min.js'></script>
<script src = '/assets/js/bootstrap.min.js'></script>
<script src = '/assets/js/jquery.easing.1.3.js'></script>
<script src = '/assets/js/jquery.bootstrap-dropdown-on-hover.min.js'></script>
<script type = 'text/javascript' src = '/assets/js/jquery.smartmenus.js'></script>
<script type = 'text/javascript' src = '/assets/js/jquery.smartmenus.bootstrap.min.js'></script>
<script src = '/assets/js/jquery.fittext.js'></script>
<script src = '/assets/js/jquery.aniview.js'></script>
<script src = '/assets/js/dropdown.js'></script>
{% assign scripts = page.dependencies.scripts %}
{%- if scripts -%}
  {%- for script in scripts -%}
    <script src = '/assets/js/{{script}}.js'></script>
  {%- endfor -%}
{%- endif -%}
<script src = '/assets/index.js'></script>
<script defer src = 'https://use.fontawesome.com/releases/v5.1.1/js/all.js' integrity = 'sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a' crossorigin = 'anonymous'></script>