<div class='share mt-2 mb-2' >  
  <a rel='nofollow' class = 'share_item facebook'  title="Share on Facebook" target='_blank' href='https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}/'><img src ='/assets/icons/facebook.svg' alt = 'icon'/></a>
  
  <a rel='nofollow' class = 'share_item twitter'  href="https://twitter.com/intent/tweet?text={{ page.title }};url={{ site.url }}{{ page.url }};"  title="Share on Twitter" target='_blank'><img src ='/assets/icons/twitter.svg' alt = 'icon'/></a>
  
  <div class = 'share_item share_toggle'>
    <img src ='/assets/icons/share.svg' alt = 'icon'/>
  </div>
  
  <a rel='nofollow' class = 'share_item google-plus'  title="Share on Google Plus" target='_blank' href='https://plus.google.com/share?url={{ site.url }}{{ page.url }}/'><img src ='/assets/icons/google-plus.svg' alt = 'icon'/></a>
  
  <a rel='nofollow' class = 'share_item linkedin'  title="Share on LinkedIn" target='_blank' href='http://www.linkedin.com/shareArticle?mini=true;title={{ page.title }};url={{ site.url }}{{ page.url }};summary={{ page.content | strip_html | truncate: 160 }}'><img src ='/assets/icons/linkedin.svg' alt = 'icon'/></a>
</div>