<div class='share' >  
  <a rel='nofollow' class = 'share_item'  title="Share on Facebook" target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=http://blog.computechlimited.com/2017/09/04/4-reasons-to-plan-for-a-next-generation-firewall-with-computech/'><i class='fab fa-facebook-f'></i></a>
  
  <a rel='nofollow' class = 'share_item'  href="https://twitter.com/intent/tweet?text=4%20Reasons%20to%20plan%20for%20a%20next-generation%20firewall%20with%20Computech&amp;url=http%3A%2F%2Fblog.computechlimited.com%2F2017%2F09%2F04%2F4-reasons-to-plan-for-a-next-generation-firewall-with-computech%2F&amp;"  title="Share on Twitter" target='_blank'><i class='fab fa-twitter'></i></a>
  
  <div class = 'share_item share_toggle'>
    <i class = 'share_icon fas fa-share-alt'></i>
  </div>
  
  <a rel='nofollow' class = 'share_item'  title="Share on Google Plus" target='_blank' href='https://plus.google.com/share?url=http://blog.computechlimited.com/2017/09/04/4-reasons-to-plan-for-a-next-generation-firewall-with-computech/'><i class='fab fa-google-plus-g'></i></a>
  
  <a rel='nofollow' class = 'share_item'  title="Share on LinkedIn" target='_blank' href='http://www.linkedin.com/shareArticle?mini=true&amp;title=4%20Reasons%20to%20plan%20for%20a%20next-generation%20firewall%20with%20Computech&amp;url=http://blog.computechlimited.com/2017/09/04/4-reasons-to-plan-for-a-next-generation-firewall-with-computech/&amp;summary=Today%E2%80%99s+cyber+threat+landscape+of+new+threats+and+sophisticated+attacks+constantly+being+directed+...'><i class='fab fa-linkedin-in'></i></a>
</div>