<div class='apss-social-share apss-theme-4 clearfix' >  
  <div class='apss-facebook apss-single-icon'>
    <a rel='nofollow'  title="Share on Facebook" target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=http://blog.computechlimited.com/2017/09/04/4-reasons-to-plan-for-a-next-generation-firewall-with-computech/'>
      <div class='apss-icon-block clearfix'>
        <i class='fa fa-facebook'></i>
        <span class='apss-social-text'>Share on Facebook</span>
        <span class='apss-share'>Share</span>
      </div>
    </a>
  </div>
  <div class='apss-twitter apss-single-icon'>
    <a rel='nofollow'  href="https://twitter.com/intent/tweet?text=4%20Reasons%20to%20plan%20for%20a%20next-generation%20firewall%20with%20Computech&amp;url=http%3A%2F%2Fblog.computechlimited.com%2F2017%2F09%2F04%2F4-reasons-to-plan-for-a-next-generation-firewall-with-computech%2F&amp;"  title="Share on Twitter" target='_blank'>
      <div class='apss-icon-block clearfix'>
        <i class='fa fa-twitter'></i>
        <span class='apss-social-text'>Share on Twitter</span><span class='apss-share'>Tweet</span>
      </div>
    </a>
  </div>
  <div class='apss-google-plus apss-single-icon'>
    <a rel='nofollow'  title="Share on Google Plus" target='_blank' href='https://plus.google.com/share?url=http://blog.computechlimited.com/2017/09/04/4-reasons-to-plan-for-a-next-generation-firewall-with-computech/'>
      <div class='apss-icon-block clearfix'>
        <i class='fa fa-google-plus'></i>
        <span class='apss-social-text'>Share on Google Plus</span>
        <span class='apss-share'>Share</span>
      </div>
    </a>
  </div>
  
  <div class='apss-linkedin apss-single-icon'>
    <a rel='nofollow'  title="Share on LinkedIn" target='_blank' href='http://www.linkedin.com/shareArticle?mini=true&amp;title=4%20Reasons%20to%20plan%20for%20a%20next-generation%20firewall%20with%20Computech&amp;url=http://blog.computechlimited.com/2017/09/04/4-reasons-to-plan-for-a-next-generation-firewall-with-computech/&amp;summary=Today%E2%80%99s+cyber+threat+landscape+of+new+threats+and+sophisticated+attacks+constantly+being+directed+...'>
      <div class='apss-icon-block clearfix'><i class='fa fa-linkedin'></i>
        <span class='apss-social-text'>Share on LinkedIn</span>
        <span class='apss-share'>Share</span>
      </div>
    </a>
  </div> 
  <div class='apss-print apss-single-icon'>
    <a rel='nofollow' title="Print" href='javascript:void(0);' onclick='window.print(); return false;'>
      <div class='apss-icon-block clearfix'><i class='fa fa-print'></i>
        <span class='apss-social-text'>Print</span>
        <span class='apss-share'>Print</span>
      </div>
    </a>
  </div>
</div>