---
layout: page
permalink: '/about-us/downloads/'
title: Downloads
---
<div class = 'animated zoomIn'>
  <div class = 'wrap'>
    <div class = 'tabs'>
      {%- assign downloads = site.data.about.downloads -%}
      <div class = 'tab_switch grid-3'>
        {%- for item in downloads -%}
        <div class = 'tab pt-1 contain {% if forloop.index == 1 %} tab_active {% endif %}'>
          {{ item.nav | upcase }}
        </div>
        {%- endfor -%}
      </div>
      <div class = 'tab_content'>
        {%- for item in downloads -%}
        <div class = 'tab_item {% if forloop.index == 1 %} tab_item_active {% endif %}'>
          <div class = 'grid-3 mt-3 mb-2'>
            {%- for d in item.downloads -%}
            <div class = 'download-card'>
              <div class = 'card text_center'> 
                <img src = '/assets/icons/{{ d.icon }}'  alt = 'Card image cap'>
                <div class = 'card-block'>
                  <h4 class = 'card-title text_center'>{{ d.name }}</h4>  <br>
                  <p class = 'card-text text_center'>More info about {{ d.name }}</p> <br>
                  <a  href = '/assets/pdf/{{ d.file }}' download = '{{ d.name | downcase | slugify }}' class = 'snip'>DOWNLOAD</a>
                </div>
              </div>
            </div>
            {%- endfor -%}
          </div>
        </div>
        {%- endfor -%}
      </div>
    </div>                  
  </div>         
</div>          