---
layout: page
permalink: '/about-us/profile/'
title: Profile
description: "Founded in 1987, Computech Limited is a leading East African systems integrator, providing technology solutions to solve businesses’ most important problems."
--- 
<div class = 'animated zoomIn'>
  <div class = 'wrap'>
    <div class = 'grid-1'>
      <div class = 'shade pl-2 pr-2'>
        <h3>About Us</h3>
        {{ site.data.profile | markdownify }}
        <h3>Vision</h3>           
        <p class = 'cafe'>Our Vision is to be Africa’s most respected and trusted provider of technology for business.</p>
        <h3>Mission</h3>                  
        <p class = 'cafe'>Our Mission is to enable high-performance organisations, allowing businesses to work and communicate better, faster, and more profitably.</p>        
      </div>
      <div class = 'pl-1 pr-1 flex_rev'>
        <div class = 'mt-3'>
          <div class = 'tabs'>
            {%- assign about = site.data.about.profile -%}
            <div class = 'tab_switch'>
              {%- for item in about -%}
              <div class = 'tab {% if forloop.index == 1 %} tab_active {% endif %}'>
                <img src = '/assets/country/{{ item.country | downcase }}.jpg'><br>
              </div>
              {%- endfor -%}
            </div>
            <div class = 'tab_content'>
              {%- for item in about -%}
              <div class = 'tab_item {% if forloop.index == 1 %} tab_item_active {% endif %}'>
                <h3 class = 'country-title text_left'>{{ item.country }}</h3>
                {{ item.description | markdownify }}
              </div>
              {%- endfor -%}
            </div>
          </div>
        </div>
        <div class = 'reverse'>
          <h3 class = 'center'>Our Regional Presence</h3>                    
          <img src = '/assets/images/africa.png' alt = "Computech's Regional Mark" />
        </div>
      </div>
      </div> 
    </div>
  </div> 