@keyframes wobly {
  0%{
    transform: scale(1.2,1.2);
  }
  33%{
    transform: scale(1.5,1.2);
  }
  100%{
    transform: scale(1,1);
    left: 0;
  }
}

@keyframes wobble_first {
  0%{
    transform: scale(0,0);
    left: 0;
  }
  33%{
    transform: scale(1.67);
    left: 12px;
  }
  67% {
    transform: scale(0.67,1);
    left: 66px;
  }
  100%{
    transform: scale(1);
    left: 54px;
  }
}

@keyframes wobble_second {
  0%{
    transform: scale(0);
    left: 0;
  }
  33%{
    transform: scale(1.67);
    left: 18px;
  }
  67% {
    transform: scale(0.67,1);
    left: 120px;
  }
  100%{
    transform: scale(1);
    left: 108px;
  }
}
@keyframes wobble_third {
  0%{
    transform: scale(0);
    left: 0;
  }
  33%{
    transform: scale(1.67);
    left: 24px;
  }
  67% {
    transform: scale(0.67,1);
    left: 174px;
  }
  100%{
    transform: scale(1);
    left: 162px;
  }
}

@keyframes wobble_last {
  0%{
    transform: scale(0);
    left: 0;
  }
  33%{
    transform: scale(1.67);
    left: 32px;
  }
  67% {
    transform: scale(0.67,1);
    left: 228px;
  }
  100%{
    transform: scale(1);
    left: 216px;
  }
}