*,
*::before,
*::after{
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
}
body {
  padding-top:50px;
  margin: 0; 
  font-family: $body-font;
  font-size: 16px;
  transition: all .5s ease;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  overflow-x: hidden;
  line-height: 1.6;
}
h1,h2,h3,h4,h5,h6{
  font-family: $heading-font;
  position: relative;
}
h1,
h2,
h3,
h4 {
	line-height: 1.6em;
}
ul,
ol {
	margin: 0;
	padding-left: 15px;
}

a {
	outline: none;
	text-decoration: none !important;
	color: rgba(39,48,57,.85);
}

a:hover {
	color: #fa7921;
}
img{
  max-width: 100%;
  border: 0
}

form{
  max-width: 480px;
  padding: 15px;
  cursor: default !important;
}

input{
  padding: 15px;
  font-size: 1.25rem;
}
textarea{
  resize: none;
}

fieldset {
  border:0px;
  margin:0;
  padding:0
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
  margin: 15px;
  color: $pale;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

img {
	height: auto; 
	max-width: 100%; 
}

::placeholder{
  font-size: 16px;
  color: lighten($pale, 20%);
}
main{
  padding-bottom: 60px;
}
aside{
  padding: 15px;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    padding: 10px 0;
  }
}
p{
  padding: 12.5px 0;
  color: $pale;
  font-size: 16.4px;
  margin: 0;
}
hr{
  margin-top: 30px;
  height: 12px;
}
label{
  font-weight: 500;
  font-family: $heading-font;
}