//#//# Posts and pages
// --------------------------------------------------------------
.sticky {
	display: block;
}

.sticky article {
	display: block;
	border: 2px solid #fa7921 !important;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

//// --------------------------------------------------------------
//#//# Asides
// --------------------------------------------------------------
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.transition5 {
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.transition35,
a,
.dt-main-menu li a,
.dt-main-menu li ul,
.menu-item-has-children {
	transition: all .35s ease;
}


#primary {
	margin-top: 60px;
}

#secondary {
	margin-top: 60px;
}

#primary li,
#secondary li  {
	margin: 10px 0;
}

#secondary .widget {
	background: #fff;
	padding: 20px 25px;
	border: 1px solid rgba(39,48,57,.08);
	box-shadow: 0 0 5px rgba(39,48,57,.05);
}

.dt-content-area {
	background: #fff;
	padding: 10px 25px 0;
	border: 1px solid rgba(39,48,57,.08);
	box-shadow: 0 0 5px rgba(39,48,57,.05);
}

//// --------------------------------------------------------------
//# Blog
// --------------------------------------------------------------
.dt-news-layout-wrap {
	margin-top: 40px;
	padding: 30px 0 0;
}

.dt-recent-post-holder {
	background: #fff;
	margin-bottom: 30px;
	box-shadow: 0 1px 6px rgba(39,48,57,.07);
}

.dt-recent-post-holder figure:hover {
	opacity: .7;
}

.dt-recent-post-content {
	padding: 0 20px 1px;
}

.dt-recent-post-content h3 {
	font-size: 18px;
	line-height: 1.6em;
	margin: 35px 0 20px;
}

.dt-recent-post-content p {
	font-size: 15px;
	margin-bottom: 25px;
}


.tagcloud a {
	margin: 0 4px 8px 0;
	padding: 1px 15px 0;
  
	background: rgba(39,48,57,.6);
	border-radius: 30px;
	display: inline-block;
	color: #fff;
	font-size: 13px !important;
	font-weight: 400;
}

.tagcloud a:hover {
	background: #fa7921;
}

//// --------------------------------------------------------------
//# Footer
// --------------------------------------------------------------
.dt-footer {
	background: #fff;
	padding: 20px 0 0;
	margin-top: 60px;
	border-top: 1px solid rgba(39,48,57,.07);
	color: rgba(39,48,57,.7);
}

.dt-footer-cont,
.dt-right-sidebar h2 {
	margin-top: 30px;
}

.dt-footer-cont ul,
.dt-right-sidebar ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.dt-footer-cont li,
.dt-right-sidebar li {
	padding-bottom: 15px;
	line-height: 1.4em;
}

.dt-footer h2,
.dt-about-header h2,
.dt-opening-hours h2,
.dt-right-sidebar h2,
.dt-right-sidebar h2,
.dt-right-sidebar .dt-recent-posts h2,
.dt-opening-hours .widget-title label {
	position: relative;
	font-size: 18px;
	padding-bottom: 15px;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 500;
}

.dt-footer h2:after,
.dt-about-header h2:after,
.dt-right-sidebar h2:after,
.dt-right-sidebar h2:after,
.dt-right-sidebar .dt-recent-posts h2:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 90%;
	height: 1px;
	background: rgba(39,48,57,.15);
}

.dt-right-sidebar h2:after,
.dt-right-sidebar h2:after {
  width: 100%;
}

.dt-footer h2 span,
.dt-about-header h2 span,
.dt-right-sidebar h2 span,
.dt-right-sidebar h2 span,
.dt-right-sidebar .dt-recent-posts h2 span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 1px;
	background: #fa7921;
}

.dt-about-holder p {
	font-size: 15px;
	line-height: 1.8em;
	margin: 0;
}

.dt-about-holder figure {
	margin-bottom: 18px;
}


.dt-footer-bar {
	padding: 20px 0 18px;
	margin-top: 30px;
	background: #212121;
	color: rgba(255,255,255,.8);;
	font-size: 15px;
	font-weight: 100;
}

.dt-footer-bar a {
	color: rgba(255,255,255,.8);
}

.dt-footer-bar a:hover {
	color: #fa7921;
}

.dt-footer-bar a:hover {
	opacity: 1;
}

.dt-footer-designer {
	text-align: right;
}

//// --------------------------------------------------------------
//# Archive Page Posts
// --------------------------------------------------------------
.dt-archive-wrap {
	background: transparent !important;
	border: 0 !important;
	padding: 0 !important;
}

.dt-archive-post {
	text-align: center;
	margin-bottom: 60px;
	background: #fff;
	border: 1px solid rgba(39,48,57,.08);
	box-shadow: 0 0 5px rgba(39,48,57,.05);
}

.dt-recent-post figure {
	text-align: center;
}

#back-to-top {
	font-size: 32px;
	position: fixed;
	z-index: 9999;
	right: 20px;
	bottom: 60px;
	width: 48px;
	height: 48px;
	padding-top: 6px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;  
	opacity: 0;
	color: #fff !important;
	border-radius: 50%;
	background: rgba(39,48,57, .35);
  
	filter: alpha(opacity=0);
}

#back-to-top:hover {
	background: #fa7921;
}

#back-to-top.show {
	opacity: 1;
  
	filter: alpha(opacity=100);
}


@media all and (max-width: 992px) {
	.dt-header-sep {
		height: 48px;
	}
  
	#primary,
	#secondary {
		margin-top: 40px;
	}
  
	.dt-footer-bar,
	.dt-footer-designer {
		text-align: center;
	}
}

@media all and (max-width: 768px) {
	#primary,
	#secondary {
		margin-top: 20px;
	}
}

.excerpt{
	&_more{
		display: inline-block;
    padding: 12px 30px 10px;
    border: 2px solid rgba(39,48,57,.25);
    color: rgba(39,48,57,.6);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
	}
}
.post{
	&_item{
		box-shadow: 0 15px 60px 0 rgba(158,174,221,0.3);
    padding: 30px 15px;
		margin-bottom: 50px;
	}
}