#back-to-top {
	font-size: 32px;
	position: fixed;
	z-index: 9999;
	right: 20px;
	bottom: 60px;
	width: 48px;
	height: 48px;
	padding-top: 6px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;  
	opacity: 0;
	color: #fff !important;
	border-radius: 50%;
	background: rgba(39,48,57, .35);
  
	filter: alpha(opacity=0);
}

#back-to-top:hover {
	background: #fa7921;
}

#back-to-top.show {
	opacity: 1;
  
	filter: alpha(opacity=100);
}



.excerpt{
	&_more{
		display: inline-block;
    padding: 12px 30px 10px;
    border: 2px solid rgba(39,48,57,.25);
    color: rgba(39,48,57,.6);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
	}
}
.post{
	&_item{
		box-shadow: 0 15px 60px 0 rgba(158,174,221,0.3);
    padding: 30px 15px;
		margin-bottom: 50px;
	}
}