.jumbotron p{
  color: $light;
}
.carousel-inner{
  .item {
    position: relative;
  }
  h1{
    text-transform: capitalize;
  }
}
.carousel-caption{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($dark, 0.5);
}
.slow {
  animation-duration: 3s;
  animation-delay: 1s;
}
.reallyslow {
  animation-duration: 6s;
  animation-delay: 3s;
}

.linear1{
  background: Linear-gradient(rgba($dark, 0.9),rgba($dark, 0.9));
}
// For the images in the ATM section 
.image-container {
  position: absolute;
  width: 200px;
  height: 300px;
  background: rgba($dark, .6);
  z-index: 9999;
}
.image-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: $light;
}
.image-container:hover .after {
  display: block;
  background: rgba($dark, .6);
}
// End for the images in the ATM section 
.learnMore{
  background-color: transparent;
  border: 2px solid $light;
  padding: 13px;
  color: $light;
  margin-top: 30px;
}

.section {
  clear: both;
  padding: 0;
  margin: 0;
}

.grey{
  color: $light;
}
.space{
  padding-bottom: 50px;
}
h1 {
  position: relative;
}
.owl-pagination {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
}

.black-header{
  color: $light;
  background-color: $dark;
  text-align: center;
  padding: 3px;
  font-size: 25px;
}

// Particles for the not homepage 
#particles-js {
  position: absolute;
  width: 100%;
  z-index: 3;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

// For justifying the text 
.text-justify{
  text-align: justify;
  color:#333;
}

.right-side{
  float: right;
  clear: both;
}

.award{
  &s{
    margin: 60px 0;
  }
  p{
    color: white;
    text-transform: uppercase;
  }
}
.partner{
  padding: 30px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 50px rgba(0,0,0,0.17);
  &s{
    background: #fff;
    max-width: 1250px;
    margin: 0 auto;
  }
  img{
    width: 100%;
    max-width: 150px;
  }
}

.box-round1{
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #f8f8f8;
}
.card-img-top{
  height: 228px;
  width: 100%;
}
.read-more{
  float: right;
  color: $dark;
}
.read-more:hover{
  text-decoration: none;
}
.effect1{
  box-shadow: 0 10px 6px -6px #777;
}

.card-cust{
  padding: 20px;
  background: linear-gradient(rgba($dark, 0.6), rgba($dark, 0.6));
}
.img-flag{
  height: 60px;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 25px;
  
}

// Profile page 

.img-flag{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cafe{
  color: #F68E35;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 0 50px rgba(0,0,0,0.17);
}

//  CSS used here will be applied after bootstrap.css  

#myarea{
  position:absolute;
  left:374px;
  width:250px;
  top:414px;
}
.vm{
  font-size: 15px;
  color: $dark;
}

.text-colour{  
  color: $dark;
}

.profile-text{
  color: $dark;
  font-size: 15px; 
  text-align: justify;      
}

.virus img{
  display: block;
  margin-right: auto;
  margin-left: auto;
  line-height: 100px;
  height: 100px;
  padding: 20px;
}

.img-workshop{
  height: 300px;
}

// End of physical sec 

.country-links{
  margin: 0;
  padding: 3.1px;
  display: inline-block;
  font-size: 15px; 
  text-align: center; 
}
.country-title {
  color: dimgrey;
  margin: auto;
  padding: inherit;
  display: block;
}
.all-text{
  color: $dark;
  font-size: 15px;
}

// Start of view and download button 

.view-btn{
  margin-right: 30px;
  background-color: #004D40;
  padding: 17px;
  color: $light;
  margin-bottom: 25px;
  font-size: 21px;
}
.view-btn:hover{
  color: $light;
  text-decoration: none;
}
.download-btn{
  margin-bottom: 25px;
  background-color: #006064;
  padding: 17px;
  color: $light;
  font-size: 21px;    
}
.download-btn:hover{
  color: $light;
  text-decoration: none;
}

// End of view and downlaod button 

.sections{
	padding-top: 28px;
}
.line {
  border-bottom: 4px solid $orange;
  height: 10px;
  width: 60px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;  
}
#slide-section{
  height: auto;
  width: 100%;
}
.fa-dot-circle-o{
  color: $dark;
}
.move{
  margin-left: 100px;
}
.im{
  padding-right: 50px;
}

.men-btn{
  background-color: transparent;
  border: 0;
}
.header-image h5{
  color: $dark; 
  text-align: left;
  margin-top: 150px;
  
  font-size: 3em;
  padding-left: 50px;
}
.orange{
  color: $orange;  
}
a:visited{
  text-decoration: none;
}

.b-active{
  color: $light;
  background-color: $orange;
}
.b-active:hover{
  color: $light;
  background-color: $orange;
}
.list-group-item{
  text-align: center;
}

.flag-image{
  padding: 20px;
  border-radius: 5px;
}

.boold{
  font-weight: 900;
}

.cust-h2{
  text-transform: capitalize;
  font-size: 18px;
  padding-bottom: 10px;  
}

.row-space{
  margin-top: 30px;
  margin-bottom: 30px;
}

.cust-btn{
  background-color: transparent; 
  border: 0;
}

.btn { 
  color: $light;
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  z-index: 999;
}
.btn-primary{
  color: $light;
}
.map-right{
  float: right;
}

.collapsepadding{
  padding-top: 50px;
}

.btn:hover {
  color: $light;  
}
.underline{
  text-decoration: underline;
}

#new_soft{
  height: auto;
  padding-top: 60px;    
  background-image: url(/new-bg/645305_seryiy_fon.jpg);
  background-size: cover
  
}
#new_soft h3{
  color: $light;
}
#new_soft ol li{
  color: $light;
}
.under {
  background-color: $dark;
  height: 40px;
  width: 60px;
  border: 1px solid $dark;
  margin-right: 100px;
  border-radius: 5px;
  padding: 15px;  
}
.card{   
  background-color: $light;
  border-radius: 4px;
  a{
    &,
    &:hover,
    &:active{
      text-decoration: none;
    }
  }
  &-custom{
    background-color: $light;
    padding-top: 50px;  
    opacity: 0.9;
    li{
      list-style:square;  
      font-size: 14.6px;
      line-height: 26px;    
    }   
  } 
  &-shadow{
    box-shadow: 0 15px 60px 0 rgba(158, 174, 221, 0.3);
    border-radius: 10px;
  }
  &-title{
    color: $dark;
  }
  &s{
    img{
      max-width: 64px;
      margin: 0 auto 15px;
    }
  }
}

// Footer section 
.footer{
  padding-top: 15px;
  padding-bottom: 20px;    
  height: auto;
  background-color: $dark;
  color: $light;  
  &_share{
    display: inline-flex;
    margin: 0 0 0 25px;
    a {
      width: 40px;
      height: 40px;
      font-size: 18px;
      margin: 0 15px;
      color: $light;
      border-radius: 50%;
      &:hover{
        color: $light;
        opacity: 0.9;
      }
    }
  }    
}

.rights{
  width: 100%;
  background-color: #263238;
  margin: 0;
  padding: 0;
}
.titl{
  color: $orange; 
}
.center{
  text-align: center;
}
.off {
  color: #263238;
}
.off:hover{
  color: $light;
  transition:  2s;
}

// service section styling

.module {
  padding: 140px 0;
}

.module-title {
  font-size: 20px;
  text-align: center; 
}

.font-alt { 
  text-align: center;
  text-transform: uppercase;
}

.font-inc {
  text-transform: uppercase;
  text-align: center;
}

.content-box {
  margin: 25px auto;
}

.content-box-icon {
  font-size: 4rem;
  text-align: left;
}

.content-box-title {
  font-size: 1.5rem;
  color: $dark;
}

.content-box-text {
  color: #777;
}

// ....button styling........ 

.button {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  z-index: 999;  
}

.black{
  color: $dark;
}

.quote {
  background: $light;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.quote:after {
  content: '';
  width: 0px;
  height: auto;
  border-style: solid;
  border-color: $light transparent transparent transparent;
  position: relative;  
  left: 20px;
}

.left{
  float: left;
  color: $orange;
  font-weight: 1000px;
  font-size:4em;
}

.team{
  padding-bottom: 50px;
}
.arrow-down{
  color: $orange;
}
.wrap{
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.fa-angle-down{
  text-align: center;
  color: $orange; 
}
.arrow-dowm{
  text-align: center;
}

// Styling solutions  
#solutions{
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  background-color: $light;
}
#solutions ul li a:link{
  color:$orange; 
}
.center{
  text-align: center;
}
.pad-sol{
  padding-top: 40px;
}
.border-right{
  height: auto;
  border-right: 1px solid $orange;
  
}

.loyalty{
  padding-top: 50px;
}
.bond{
  font-weight: 500;
}
.quote{
  padding-top: 100px;
}
#MiPricing-modal{
  overflow-x: hidden;
}

.soft-left{
  border-right: 3px solid $light;  
}

// For the new software page 
.micro-left{
  border-right: 3px solid $light;
}
.micro-up{
  margin-top: -30px;
  padding-left: 70px;
}

.white{
  color: $light;
}
.wow {
  visibility: hidden;
}

.view-button{
  background-color: transparent;
  padding: 15px;
  width: 100px;
  border: 3px solid $light;
  border-radius: 5px;
  color: $light;   
  font-size: 25px;
}
.view-button a{
  color: $light;
  text-decoration: none;
}

img.map, map area{
  outline: none;
}

// End of offerings page 
.one{
  padding-top: 40px;
  margin-left: 33%;
  color: #D63344;
  padding-bottom: 10px;
}
.two{
  color: #F58C30;
  margin-left: 50%;
  margin-top: -40px
}
.three{
  color: #89173B;    
  margin-top: -100px;
  margin-left: 17%;
}
.four{
  color: #8F63B0;
  margin-top: 16px;
  margin-left: 90px
}
.five{
  color: #699F41;
  margin-left: -180px;
  margin-top: 30px;
}
.six{
  color: #053A5C;
  margin-left: 140px;
  margin-top: 25px;
}
.seven{
  color: #022E4B;
  margin-left: -279px;
  margin-top: 28px;
}
.eight{
  color: #138698;    
}
// Software page 

.split_title{
  font-weight:900;
  border-bottom: 2px solid $light;    
}
.left{
  height: auto;
  border-right: 6px solid $light;
}
.right{
  height: auto;
}
.item-left p{
  color: $light;
  font-size: 25px;
}

.item-left a{
  color:$orange; 
}
.item-right p{
  color: $light;
  font-size: 25px;
}
.item-right a{
  color:$orange; 
}
#Map{
  outline: none;
}

// Infra page 
.down-space{
  margin-top: 20px;
}

// Countries 

.flag-map{
  float: right;
  position: relative;
  top: -400px;
}

// For the Services page 
.active-1{
  color: $orange;
}
.imageleft{
  float: left;
  padding-right: 10px;
}

.server-list{
  margin-top: 65px;
}
.agreement{
  background-color: #607D8B;
}

.storage-list{
  margin-top: 65px;  
}

//  End of storage page 
//  Start of security  

.zoomIn{
  animation-duration: 0.6s;
  animation-duration: 0.6s;  
}

.center-contents img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-contents h4{
  text-align: center;
  color: $dark;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// End of Security 

.download-card{  
  padding: 10px;
}

// For the team page  
.member{
  cursor: pointer;
  img{
    width: 100%;
  }
  &_modal{
    @extend %modal;
    &-open{
      @extend %open;
    }
  }
  &_name{
    text-transform: capitalize;
  }
}
.modal {
  &_close{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.25);
    color: #fff;
    border: 0;
    font-size: 36px;
    outline: 0;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 50px;
    transition: opacity 0.25s ease-out;
    margin: 0;
    &:hover{
      opacity: 0.9;
    }
  }
  &_overlay{
    transform: translate3d(0,0,0);
    position: fixed;
    height: 100vh !important;
    padding: 25px;
    cursor: pointer;
    perspective: 600px;
    z-index: 2000 !important;
  }
  &_body{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    cursor: initial;
    @media screen and (min-width: 769px){
      grid-template-columns: 3fr 7fr;
    }
  }
  &_name{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    background: $orange;
    color: $light;
    text-transform: uppercase;
    margin: 0;
    line-height: 50px;
    padding-left: 20px;
  }
}
.definition{
  background-color: $orange;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
  &:hover{
    opacity: 0.9
  }
  h3{
    color: $light;
    line-height: 40px;
    padding: 15px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
  }
  &_modal{
    @extend %modal;
    padding: 20px;
    &-open{
      @extend %open;
    }
  }
}

.tag{
  padding: 10px 15px;
  margin: 10px 10px 10px 0;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.17);
  text-transform: capitalize;
  &_container{
    display: inline-flex;
    flex-flow: row wrap;
    padding: 15px 0;
  }
}
.item-point{
  background-color: $dark;
  margin: 20px;
  text-align: center;
  padding: 15px;
  color: $light;
}
.img-team{
  object-fit: cover;
}
.img-teamh{
  height: 200px;
}
.img-size{
  text-align: center;
  height: 200px;
}
.img-item{
  height: 120px;
  width: 120px;
}
// End of End point 


.region-title{
  text-decoration: underline;
}

.float-left{
  float: left;
}
.float-right{
  float: right;
}
.ref-logo{
  padding: 20px;
}

.border-btm{
  border-bottom: 1px solid $light;
}
.mui-tabs__bar{
  color: $orange;
}

// End of client section 
[class*=banner-] {
  position: relative;
  margin-top: 25px;
  width: 100%;       
  height: 225px;  
  text-transform: uppercase;
  background-color:rgba($dark, 0.09);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/images/security.png);
}
.banner,
.banner1{
  width: 100%;
  height: 170px;
}

.banner h2{
  padding-top: 40px;
  color: $light;
}

[id*=new-service-] {
  height: auto;
  width: 100%;
  background-color: $light;      
  padding-top: 90px;
  padding-bottom: 30px;
}

.contact-img{
  text-align: center;
  align-content: center;
}
.mui-tabs__pane{
  padding-top: 15px;
}
.robot{
  padding-top: 40px;
  padding-bottom: 30px;
}

// pdf buttons 
.snip {
  background-color: #EF762D;
  border: none;
  color: $light !important;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-size: 22px;
  line-height: 1rem;
  margin: 15px 20px;
  outline: none;
  padding: 15px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  &:hover {
    background-color: #EF762D;
    color: $light;
    text-decoration: none;
  }
  &:before,
  &:after {
    border-color: transparent;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
  }
  &:before {
    border-color: #EF762D;
    border-right-width: 2px;
    border-top-width: 2px;
    right: -5px;
    top: -5px;
  }
  &:after {
    border-bottom-width: 2px;
    border-color: #EF762D;
    border-left-width: 2px;
    bottom: -5px;
    left: -5px;
  }
}

// pdf buttons 
.td-down h3{
  padding-top: 10px;
}

.services {
  padding: 60px;  
}
.services .pad-top{
  padding-top: 60px;
}
.services img{
  margin: 0 auto;
}
.service-box{
  margin-bottom: 40px;
  cursor: pointer;
}
.service-box:hover .service-icon{
  color: #f9f9f9;
  background: $orange;
  transition: all 1s;
}
.service-box.side-left{
  text-align: right;
}
.service-box.side-right{
  text-align: left;
}
.service-box h3{
  color: $orange;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.service-box p{
  line-height: 26px;
  color: $dark;
}

.service-box h5{
  color: grey;
}

.service-icon{
  display: inline-block;
  font-size: 30px;
  color: $orange;
  line-height: 73px;
  background: #f9f9f9;
  width: 80px;
  text-align: center;
  border: solid 4px $light;
  outline: 1px solid $mute;
  margin-top: 10px;
}
.service-box.side-left .service-icon{
  float: right;
  margin-left: 20px;
}
.service-box.side-right .service-icon{
  float: left;
  margin-right: 20px;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 360px;
}
@media (max-width: 575px) { 
  .img-brand{
    display: block;
  }
}

@media (max-width: 767px) { 
  .img-brand{
    display: block;
  }
}