.slow {
  animation-duration: 3s;
  animation-delay: 1s;
}
.reallyslow {
  animation-duration: 6s;
  animation-delay: 3s;
}

.download{
  img {
    width: 64px !important;
    margin: 0 auto;
  }
}

.grey{
  color: $light;
}

// Particles for the not homepage 
#particles-js {
  position: absolute;
  width: 100%;
  z-index: 3;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.award{
  &s{
    margin: 60px 0;
  }
  p{
    color: white;
    text-transform: uppercase;
  }
}
.partner{
  padding: 30px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 50px rgba(0,0,0,0.17);
  &s{
    background: #fff;
    max-width: 1250px;
    margin: 0 auto;
  }
  img{
    width: 100%;
    max-width: 150px;
  }
}
.read-more{
  float: right;
  color: $dark;
  &:hover{
    text-decoration: none;
  }
}

.country-links{
  margin: 0;
  padding: 3.1px;
  display: inline-block;
  font-size: 15px; 
  text-align: center; 
}
.line {
  border-bottom: 4px solid $orange;
  height: 10px;
  width: 60px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;  
}
.move{
  margin-left: 100px;
}
.orange{
  color: $orange;  
}
a:visited{
  text-decoration: none;
}

.address p{
  padding: 8px 0;
  margin: 0;
}
// Footer section 
.footer{
  padding: 20px 0;   
  height: auto;
  background-color: $dark;
  color: $light;  
  &_share{
    display: inline-flex;
    margin: 0 0 0 25px;
    a {
      width: 40px;
      height: 40px;
      font-size: 18px;
      margin: 0 15px;
      color: $light;
      border-radius: 50%;
      &:hover{
        color: $light;
        opacity: 0.9;
      }
    }
    img {
      width: 40%;
    }
  }    
  p{
    margin: 0;
    padding: 0;
  }
  .grid-1{
    grid-gap: 15px;
  }
}

.center{
  text-align: center;
  &_xs {
    @media screen and (max-width: 667px) {
      text-align: center;
    }
  }
}
.off {
  color: #263238;
}
.off:hover{
  color: $light;
  transition:  2s;
}

// ....button styling........ 

.button {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  z-index: 999;  
}

.black{
  color: $dark;
}
.wrap{
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.fa-angle-down{
  text-align: center;
  color: $orange; 
}

.center{
  text-align: center;
}
.muted{
  background: $mute;
}
.opt{
  padding: 30px 15px;
  box-shadow: 0 0 130px rgba(0,0,0,0.25);
  border-radius: 10px;
  background: $dark;
  font-weight: 400;
  h2,h4{
    font-weight: inherit;
  }
  &_desc{
    color: darken($mute, 15%);
    max-width: 840px;
    margin:0 auto;
    font-size: 1.2rem;
  }
}
.chimp{
  position: relative;
  width: 90%;
  max-width: 375px;
  margin:30px auto;
  padding: 0;
  overflow: hidden;
  &_input{
    width:100%;
    height: 54px;
    padding: 5px 20px;
    font-size: 1.15rem;
    border-radius: 30px;
    border: 2px solid $dark;
    outline: none;
    transition: all 0.3s ease-out;
    &:focus{
      border: 2px solid lighten($orange, 25%);
    }
  }
  &_submit{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: $orange;
    display: inline-block;
    height: 44px;
    padding: 5px 20px;
    color: $light;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius:25px;
    font-size: 1.1rem;
    transition: all 0.3s;
    &:hover{
      background: $light;
      color: $orange;
      border: 1px solid rgba(0,0,0,0.2);
      box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);
    }
  }
  &_hide {
    animation: show 0.5s ease-in forwards;
  }
  &_show{
    animation: show 0.5s ease-in forwards;
  }
}


// For the team page  
.member{
  cursor: pointer;
  img{
    width: 100%;
  }
  &_modal{
    @extend %modal;
    &-open{
      @extend %open;
    }
  }
  &_name{
    text-transform: capitalize;
  }
}
.modal {
	display: none;
	position: fixed;
  bottom: 0;
	top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  &_description{
    padding: 0;
  }
  &_close{
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 1.75rem;
    width: 45px;
    height: 45px;
    opacity: 0.5;
    transition: opacity 0.25s ease-out;
    margin: 0;
    &:hover{
      opacity: 1;
    }
  }
  &_content{
    display: none;
  }
  &_inner{
    position: relative;
    width:100%;
    background-color: $light;
    max-width:540px;
    padding: $padding * 2.5;
    box-shadow: 0 0 120px rgba(0,0,0,0.2);
    color: $pale;
    border-radius: 6px;
    h2{
      color: $dark;
    }
  }
  &_show {
    overflow: hidden;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      background-color: rgba(255, 255, 255, 0.85);
    }
  }
  &_show &{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &_title{
    color: $light;
  }
  &_overlay{
    transform: translate3d(0,0,0);
    position: fixed !important;
    height: 100vh !important;
    padding: 25px;
    cursor: pointer;
    perspective: 600px;
    z-index: 2000 !important;
    background: rgba($light, 0.95) !important;
  }
  &_body{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    cursor: initial;
    @media screen and (min-width: 769px){
      grid-template-columns: 3fr 7fr;
    }
  }
  &_name{
    margin: 0;
  }
}
.definition{
  background-color: $orange;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
  &:hover{
    opacity: 0.9
  }
  &.def{
    background: transparent;
    span{
      color: $orange;
    }
  }
  h3{
    color: $light;
    line-height: 28px;
    padding: 15px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
  }
  &_modal{
    @extend %modal;
    &-open{
      @extend %open;
    }
  }
}
.simple{
  &_modal{
    @extend %modal;
    padding: 0;
    max-width: 480px;
    &-open{
      @extend %open;
    }
  }
}
.tag{
  padding: 10px 15px;
  margin: 10px 10px 10px 0;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.17);
  text-transform: capitalize;
  &_container{
    display: inline-flex;
    flex-flow: row wrap;
    padding: 15px 0;
  }
}

// End of End point 

.region-title{
  text-decoration: underline;
}

// End of client section 
.banner {
  position: relative;
  margin-top: 25px;
  width: 100%;       
  height: 180px;  
  text-transform: uppercase;
  background-color: $dark;
}

// pdf buttons 
.snip {
  background-color: $dark;
  border: none;
  display: inline-block;
  min-width: 200px;
  color: $orange;
  cursor: pointer;
  font-size: 20px;
  margin: 15px 0;
  outline: none;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 30px;
  line-height: 1.25;
  font-family: $heading-font;
  opacity: 1;
  text-align: center;
  transition: all 0.3s ease-in;
  &:hover {
    opacity: 0.96;
    color: $light;
  }
}

.form{
  display: flex;
  flex-direction: column;
  &_input {
    display: block;
    width: 100%;
    padding: 10px 12.5px;
    font-size: 16px;
    outline: 0;
    line-height: 1.6;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: all ease-in-out .15s;
    &:focus {
      border-color: #66afe9;
      box-shadow: 0 0 8px rgba(102, 175, 233, .6)
    }
  }
  &_label{
    display:none;
  }
}


.tab {
  background: #f8f8f8;
  cursor: pointer;
  justify-content: space-between;
  padding: 0 3px;
  position: relative;
  box-shadow: 0 12px 25px -5px rgba(158,174,221,0.15);
  p{
    line-height: 30px;
    padding:0;
  }
  &_active {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 5px;
      border-radius: 1px;
      background: $orange;
      color: $orange;
      z-index: 2;
    }
  }  
  &_item { 
    display: none; 
    a{
      color: #F68E35;
    }
    &_active {
      display: block;
    }
  }
  &_switch { 
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 0 5px;
    padding: 0 0 20px;
    img{
      width: 100%;
    }
  }
}
.popup {
  max-width:700px;
  width:90%;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(150px, 1fr));
  grid-gap: 5px;
}