%grid{
  display: grid;
  grid-template-columns: 1fr;
}
[class*='grid-']{
  grid-gap: 40px;
}
.grid{
  @extend %grid;
}
.grid-1{
  @extend %grid;
  @media screen  and (min-width: 769px){
    grid-template-columns: 1fr 1fr;
  }
}
.grid-2{
  @extend %grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.grid-3{
  @extend %grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}
.grid-4{
  @extend %grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.grid-auto{
  @extend %grid;
  @media screen and (min-width: 768px){
    grid-template-columns: 1fr auto;
  }
}
.grid-fibonacci{
  @extend %grid;
  @media screen and (min-width: 992px){
    grid-template-columns: 7fr 3fr;
  }
}
.grid-tab{
  grid-gap:20px;
}