%grid{
  display: grid;
  grid-template-columns: 1fr;
}
[class*='grid-']{
  grid-gap: 40px;
  @extend %grid;
}
.grid{
  @extend %grid;
}
@media screen  and (min-width: 769px){
  .grid-1{
    grid-template-columns: 1fr 1fr;
  }
  .grid-reverse{
    // flip grid auto; borrowed
    grid-template-columns: 3fr 1fr;
  }
  .grid-auto{
    grid-template-columns: 1fr auto;
  }
  .grid-2{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .grid-3{
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-4{
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

.grid-fibonacci{
  @media screen and (min-width: 992px){
    grid-template-columns: 7fr 3fr;
  }
}
.grid-tab{
  grid-gap:20px;
}
