
.article{
  box-shadow: 0 0 15px rgba(0,0,0,0.17);
  &_first {
    img {
      height: 100%;
    }
  }
  &_package {
    color: $orange;
  }
  &_awards {
    color: $orange;
  }
  &_excerpt{
    &:not(.visible) {
      height: 0;
      opacity: 0;
    }
    transition: height 0.5s, opacity 0.3s 0.3s;
    overflow: hidden;
  }
  &_excerpt,
  &_meta {
    transform-origin: bottom;
  }
  &_meta{
    padding: 10px 20px 20px;
    background: $light;
    position: relative;
    z-index: 2;
    transition: margin-top 0.5s;
    &.center_y{
      transform-origin: center;
      transition: all 0.5s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (min-width: 769px) {
        padding-left: 0;
      }
    }
  }
  &_thumb{
    display: grid;
    position: relative;
    z-index: 0;
    overflow: hidden;
    img{
      transition: transform 0.5s;
    }
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      z-index: 1;
      background: $dark;
      opacity: 0;
    }
  }
  &:hover &_thumb{
    img{
      transform: scale(1.1);
    }
    &::after{
      opacity: 0.5;
    }
  }
  &:hover &_excerpt:not(.visible){
    height: 75px; 
    opacity: 1;
  }
  &:hover &_meta{
    &:not(.center_y) {
      margin-top: -75px;
    }
    @media screen and (min-width: 769px) {
      &.center_y{
        margin-left: -15px;
        padding-right: 35px;
      }
    }
  }
  &:hover{
    box-shadow: 0 0 90px rgba(0,0,0,0.27);
    a{
      color: initial !important;
    }
  }
}

.blog{
  // @include viewport;
  padding:25px;
}
.thumb_alt {
  color: #888;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #f0f0f0;
}
