.product{
  border-radius: 6px;
  box-shadow: 0 0 60px rgba(0,0,0,0.17);
  overflow: hidden;
  background: #fff;
  align-self: stretch;
  &_image{ 
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    margin: 20px;
  }
  &_footer{
    min-height: 120px;
    text-align: left;
    line-height: 1.7rem;
    padding: 20px;
  }
  &_body{
    min-height: 150px;
    padding: 25px 20px;
    background-color: #eee;
  }
  &_price,
  &_desc {
    font-weight: 500;
    font-family: $heading-font;
  }
  &_price{
    color: #000;
    font-size: 1.67rem;
    padding: 0 0 10px;
    text-align: center;
  }
  &_desc{
    color: $pale;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-align: center;
  }
  &_spec{
    display: grid;
    grid-template-columns: 1fr 14fr;
  }
  &_status{
    width: 100px;
    padding: 7.5px 10px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 2.5px;
    box-shadow: 0 0 60px rgba(0,0,0,0.17);
  }
}