.product{
  min-height: 360px;
  border-radius: 6px;
  box-shadow: 0 0 60px rgba(0,0,0,0.17);
  margin: 25px;
  overflow: hidden;
  display: inline-block;
  background: #fff;
  align-self: stretch;
  &_container{
    display: grid;
    max-width: 1250px;
    margin: 30px auto;
    grid-template-columns: 1fr;
    @media screen and (min-width: 667px){
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 992px){
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &_image{ 
    background-image: url(/assets/devices/accessories/hp/E5C13AA.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    margin: 20px;
  }
  &_footer{
    min-height: 120px;
    text-align: left;
    line-height: 1.7em;
    padding: 20px;
  }
  &_body{
    min-height: 120px;
    padding: 25px 20px;
    background-color: #eee;
  }
  &_price{
    color: #000;
    font-size: 2.75rem;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
  }
  &_description{
    color: #222;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
  }
  &_spec{
    display: grid;
    grid-template-columns: 1fr 14fr;
  }
  &_status{
    width: 100px;
    padding: 7.5px 10px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    border-radius: 2.5px;
    box-shadow: 0 0 60px rgba(0,0,0,0.17);
  }
}