.share{
  display: flex;
  align-items: center;
  position: relative;
  img{
    width: 40%;
  }
  &_item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    transform-origin: 50% 50%;
    margin: 7.5px;
    background: $pale;
    border-radius: 50%;
    color: $light;
    font-size: 1.5rem;
    position: absolute;
    transform: scale(0);
  }
  &_wobble{
    &:first-child{
      animation: wobble_first 1s linear forwards;
    }
    &:nth-child(2){
      animation: wobble_second 1s linear forwards;
    }
    &:nth-child(4){
      animation: wobble_third 1s linear forwards;
    }
    &:last-child{
      animation: wobble_last 1s linear forwards;
    }
  }
  &_toggle{
    cursor: pointer;
    z-index: 1;
    left: 12px;
    transform: scale(1.2);
    margin-left: 0;
    &d{
      animation: wobly 1s ease-out forwards;
    }
  }
}
