//----- Tabs -----
.tabs {
  width:100;
  display:inline-block;
}

//----- Tab Links -----
// Clearfix 
.tab-links:after{
  display:block;
  clear:both;
  content:'';
}

.tab-links li {
  margin:0px 1px;
  float:left;
  list-style:none;
}

.tab-links a {
  padding:3px 2px;
  display:inline-block;
  border-radius:3px 3px 0px 0px;
  background: $light;
  text-align: center;
  font-size:16px;
  font-weight:600;
  color: $dark;
  transition:all linear 0.15s;
}

.tab-links a:hover {
  color: #EA783A;
  text-decoration:none;
}

li.active a, li.active a:hover {
  background:$light;
  color:$pale;
}

.tab {
  display:none;
  &-content {
    color: $dark;
    font-size: 15px;
    text-align: justify;  
    border-radius:3px;
    background:$light;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 130px rgba(0,0,0,0.17);
    a{
      color: #EA783A;
      font-weight:600;
      &:hover{
        color: #EA783A;
        text-decoration: none;
      }
    }
  }
  &.active {
    display:block;
    border: 1px solid $dark;
  }  
}

.seaTabs_switch { 
  overflow: hidden;
  width: 100%;
  display: flex;
  img{
    width: 100%;
  }
}

.seaTabs_tab {
  padding: 8.3px;
  background: $mute;
  justify-content: space-between;
  cursor: pointer;
}

.nav-tabs{
  border-bottom: none;
  margin-bottom: 0;
  > li {
    > a{
      padding: 3px;
      margin: 1px;
      text-align: center;
      cursor: pointer;
    }
    &:hover,
    &:active,
    &::visited,
    &:focus{
      background-color: transparent;
    }
  }
}

// End of download page
.nav-tabs li a{
  font-size: 17px;
  color: $dark;
}

.nav-tabs > li > a:hover{
  background-color: $pale !important;
  border: medium none;
  border-radius: 0;
  color:$light;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: $light;
  background-color: #EA783A;
  
}

.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
}
.nav-tabs .active li a{
  color: #EA783A;  
}

.seaTabs * { 
  padding: 2.71px;
}

.seaTabs_switch_active {
  cursor: default;
  border-bottom: 1px solid $light;
  background: $light;
}

.seaTabs_content *{
  line-height: 30px;
}
.seaTabs_content a{
  color: #F68E35;
}

.nav.nav-justified > li > a{
  color: $dark;
  
}
.nav.nav-justified > li.active > a > .quote { opacity: 1; }
.nav.nav-justified > li > a > img { box-shadow: 0 0 0 5px #13c0ba; }
.nav.nav-justified > li > a { 
  max-width: 100%; 
  transform: scale(.8,.8);
  transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.nav-justified > li.active > a ,
.nav.nav-justified > li:hover > a ,
.nav.nav-justified > li:focus > a { 
  background-color: #F68E35;
  opacity: 1; 
  transform: none;
  transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tab-pane .tab-inner { padding: 30px 0 20px; }

@media (min-width: 768px) {
  .nav.nav-justified > li > a  {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }  
}

.seaTabs_tab {
  float: left;
  cursor: pointer;
}

.seaTabs_item { 
  display: none; 
}

.seaTabs_tab {
  background: #f8f8f8;
  justify-content: space-between; 
  &:first-child {
    border-top-left-radius: 5px;
  }
  &:last-child {
    border-top-right-radius: 5px;
 }
}
.seaTabs_content_active {
  display: block;
}

.showcase {
  padding-top: 20px;
  height: auto;
  padding-bottom: 25px;
  overflow: hidden;
}
.showcase .tabs {
  width: 100%;
}

.showcase .tab-nav li {
  display: block;
}
.showcase .tab-nav a {
  display: block;
  border-bottom: 2px solid transparent;
  color: #666;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.showcase .tab-nav a.active {
  border-color: #f77070;
  color: #f77070;
  font-weight: 700;
}

.tab-content {
  padding: 48px 0;
}
.tab-content h3 {
  margin: 0 0 12px;
  color: $dark;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.tab-content p {
  color: $pale;
  text-align: left;
}
.tab-content img {
  display: block;
  width: 100%;
}
.tab-content .row {
  display: table;
}
.tab-content .row .column {
  display: table-cell;
  width: 60%;
  padding: 0 0 0 24px;
  vertical-align: middle;
}
.tab-content .row .column:first-child {
  width: 40%;
  padding: 0;
}
