
.tab {
  background: #f8f8f8;
  cursor: pointer;
  justify-content: space-between;
  padding: 0 3px;
  position: relative;
  box-shadow: 0 12px 25px -5px rgba(158,174,221,0.15);
  p{
    line-height: 30px;
    padding:0;
  }
  &_active {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 3px;
      width: 5px;
      border-radius: 1px;
      background: $orange;
      color: $orange;
      z-index: 2;
    }
  }  
  &_item { 
    display: none; 
    a{
      color: #F68E35;
    }
    &_active {
      display: block;
    }
  }
  &_switch { 
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 0 5px;
    padding: 0 0 20px;
    img{
      width: 100%;
    }
  }
}