.text{
  &_left{
    text-align: left;
  }
  &_right{
    text-align: right;
  }
  &_center{
    text-align: center !important;
  }
}
.mute{
  color: $mute;
}
.hide{
  opacity: 0;
  transform: scale(0);
}
.show{
  @extend %open;
}
.fit{
  padding: 0;
}
// center horizontally and vertically
.contain{
  flex-direction: column;
  &,&_row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_row{
    flex-flow: row wrap;
  }
}
.decorate{
  color: $orange;
}
.sold-out{
  background: #dc3545;
}
.available{
  background: #28a745;
}
.expected{
  background: $orange;
}

.mb-1{
  margin-bottom: 10px;
}
.mb-2{
  margin-bottom: 20px;
}
.mt-2{
  margin-top: 20px;
}
.mt-4{
  margin-top: 60px;
}
.ma-2{
  margin: 20px;
}
.ma{
  margin-left: auto;
  margin-right: auto;
}
.shade{
  box-shadow:  0 0 60px rgba(0,0,0,0.17);
}
.overlay{
  height: 100%;
  width: 100%;
  bottom: 0;
  top: 0;
  background: rgba($dark, 0.3);
  border-radius: inherit;
  z-index: 5;
}
.underline {
  position: relative;
  text-decoration: none;
  span,
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
  }
  span{
    width: 60px;
    background: $orange;
  }
  &:after{
    width: 90%;
    background: rgba(39,48,57,.15); 
  }
}
.facebook{
  background: $facebook;
}
.twitter {
  background: $twitter;
}
.linkedin{
  background: $linkedin;
}
.google-plus{
  background: $google-plus;
}