@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700|Maven+Pro:400,500,700|Nunito:400,400i,600,600i,700');

$light: #fff;
$dark: #141313;
$mute: darken($light, 15%);
$pale: lighten($dark, 15%);
$orange: #F07444;
$padding: 15px;
$margin: 25px;
$body-font: 'Nunito', sans-serif;
$heading-font: 'Maven Pro', sans-serif;