@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700|Nunito:400,400i,600,700');

$light: #fff;
$dark: #242a33;
$mute: darken($light, 7.5%);
$pale: lighten($dark, 15%);
$orange: #F07444;
$cafe: #EA783A;
$padding: 15px;
$margin: 25px;
$body-font: 'Nunito', sans-serif;
$heading-font: 'Maven Pro', sans-serif;
// social sites
$facebook: #325c94;
$twitter: #00abdc;
$google-plus: #dd4b38;
$linkedin: #007bb6;

%modal {
  position: relative;
  width: 100%;
  min-width: 300px;
  max-width: 840px;
  background: $light;
  padding: 5px 20px 25px;
  opacity: 0;
  transform: translateZ(-600px);
  transition: all 0.3s ease-out;
  box-shadow: 0 0 130px rgba(0,0,0,0.33);
  overflow-y: auto;
}
%open{
  transform: translateZ(0);
  opacity: 1;
  border-radius: 6px;
}