.excerpt{
	&_more{
		display: inline-block;
    padding: 12px 30px 10px;
    border: 2px solid rgba(39,48,57,.25);
    color: rgba(39,48,57,.6);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
	}
}
.post{
	a:not(.snip) {
		color: $orange;
		&:not(.nounderline) {
			text-decoration: underline !important;
		}
	}
	img{
		width: 100%;
	}
	&_item{
		box-shadow: 0 15px 60px 0 rgba(158,174,221,0.3);
    padding: 30px 15px;
		margin-bottom: 50px;
	}
	&_body {
		li {
			font-size: 16.4px;
			&::marker {
				color: $orange;
			}
		}
		ul {
			margin-left: 0.25rem;
		}
	}
}
