.slow {
  animation-duration: 3s;
  animation-delay: 1s;
}
.reallyslow {
  animation-duration: 6s;
  animation-delay: 3s;
}

.download{
  img {
    width: 64px !important;
    margin: 0 auto;
  }
}

.grey{
  color: $light;
}

// Particles for the not homepage
#particles-js {
  position: absolute;
  width: 100%;
  z-index: 3;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.award{
  &s{
    margin: 60px 0;
  }
  p{
    color: white;
    text-transform: uppercase;
  }
}
#partners {
  background: #f5f5f5;
}
.partner{
  padding: 30px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 3rem 2rem -2rem rgba(0,0,0,0.17);
  &s{
    max-width: 1250px;
    margin: 0 auto;
  }
  img{
    width: 100%;
    max-width: 150px;
  }
}
.read-more{
  float: right;
  color: $dark;
  &:hover{
    text-decoration: none;
  }
}

.country-links{
  margin: 0;
  padding: 3.1px;
  display: inline-block;
  font-size: 15px;
  text-align: center;
}
.line {
  border-bottom: 4px solid $orange;
  height: 10px;
  width: 60px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
}
.move{
  margin-left: 100px;
}
a:visited{
  text-decoration: none;
}

.address p{
  padding: 8px 0;
  margin: 0;
}
// Footer section
.footer{
  padding: 20px 0;
  height: auto;
  background-color: $dark;
  color: $light;
  text-align: left;
  h3{
    color: inherit;
    text-transform: uppercase;
    font-size: 1.05rem;
  }
  a:not(.contain){
    color: $mute;
    display: inline-block;
    padding: 3px 10px;
    text-transform: capitalize;
    text-decoration: none;
    // font-size: 15px;
    &:hover{
      color: $orange;
    }
  }
  &_upper{
    > div {
      // text-align: center;
      display: flex;
      flex-direction: column;
    }
  }
  &_share{
    display: inline-flex;
    margin: 0;
    p {
      display: none;
    }
    a {
      width: 40px;
      height: 40px;
      font-size: 18px;
      margin: 0 15px 0 0;
      color: $light;
      border-radius: 50%;
      padding: 0;
      &:hover{
        color: $light;
        opacity: 0.9;
      }
    }
    img {
      width: 40% !important;
    }
  }
  p{
    margin: 0;
    padding: 0;
  }
  .grid-1{
    grid-gap: 15px;
  }
}

.center{
  text-align: center;
  &_xs {
    @media screen and (max-width: 667px) {
      text-align: center;
    }
  }
}
.off {
  color: #263238;
}
.off:hover{
  color: $light;
  transition:  2s;
}

// ....button styling........

.button {
  display: inline-block;
  border-radius: 2px;
  border: none;
  height: 45px;
  z-index: 999;
}

.black{
  color: $dark;
}
.wrap{
  max-width: 1250px;
  &,&_min, &_small {
    width: 100%;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  &_min {
    max-width: 1024px;
  }
  &_small {
    max-width: 768px;
    img, .thumb_alt {
      max-width: 480px;
      margin: 0 auto;
    }
  }
}

.fa-angle-down{
  text-align: center;
  color: $orange;
}

.center{
  text-align: center;
}
.muted{
  background: $mute;
}
.opt{
  padding: 30px 15px;
  box-shadow: 0 0 130px rgba(0,0,0,0.25);
  border-radius: 10px;
  background: $dark;
  font-weight: 400;
  h2,h4{
    font-weight: inherit;
  }
  &_desc{
    color: darken($mute, 15%);
    max-width: 840px;
    margin:0 auto;
    font-size: 1.2rem;
  }
}
.chimp{
  position: relative;
  width: 90%;
  max-width: 375px;
  margin:30px auto;
  padding: 0;
  overflow: hidden;
  &_input{
    width:100%;
    height: 54px;
    padding: 5px 20px;
    font-size: 1.15rem;
    border-radius: 30px;
    border: 2px solid $dark;
    outline: none;
    transition: all 0.3s ease-out;
    &:focus{
      border: 2px solid lighten($orange, 25%);
    }
  }
  &_submit{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: $orange;
    display: inline-block;
    height: 44px;
    padding: 5px 20px;
    color: $light;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius:25px;
    font-size: 1.1rem;
    transition: all 0.3s;
    &:hover{
      background: $light;
      color: $orange;
      border: 1px solid rgba(0,0,0,0.2);
      box-shadow: 0 0 25px 0 rgba(0,0,0,0.2);
    }
  }
  &_hide {
    animation: show 0.5s ease-in forwards;
  }
  &_show{
    animation: show 0.5s ease-in forwards;
  }
}


// For the team page
.member{
  cursor: pointer;
  &_image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
  &_modal{
    @extend %modal;
    &-open{
      @extend %open;
    }
  }
  &_name{
    text-transform: capitalize;
  }
}
.modal {
	display: none;
	position: fixed;
  bottom: 0;
	top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  &_description{
    padding: 0;
  }
  &_close{
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 1.75rem;
    width: 45px;
    height: 45px;
    opacity: 0.5;
    transition: opacity 0.25s ease-out;
    margin: 0;
    &:hover{
      opacity: 1;
    }
  }
  &_content{
    display: none;
  }
  &_inner{
    position: relative;
    width:100%;
    background-color: $light;
    max-width:540px;
    padding: $padding * 2.5;
    box-shadow: 0 0 120px rgba(0,0,0,0.2);
    color: $pale;
    border-radius: 6px;
    h2{
      color: $dark;
    }
  }
  &_show {
    overflow: hidden;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      background-color: rgba(255, 255, 255, 0.85);
    }
  }
  &_show &{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &_title{
    color: $light;
  }
  &_overlay{
    transform: translate3d(0,0,0);
    position: fixed !important;
    height: 100vh !important;
    padding: 25px;
    cursor: pointer;
    perspective: 600px;
    z-index: 2000 !important;
    background: rgba($light, 0.95) !important;
  }
  &_body{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    cursor: initial;
    @media screen and (min-width: 769px){
      grid-template-columns: 3fr 7fr;
    }
  }
  &_name{
    margin: 0;
  }
  &_form {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    z-index: 99;
    background: $light;
  }
  &_icon {
    width: 4rem;
  }
}
.definition{
  background-color: $orange;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
  &:hover{
    opacity: 0.9
  }
  &.def{
    background: transparent;
    span{
      color: $orange;
    }
  }
  h3{
    color: $light;
    line-height: 28px;
    padding: 15px;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
  }
  &_modal{
    @extend %modal;
    &-open{
      @extend %open;
    }
  }
}
.simple{
  &_modal{
    @extend %modal;
    padding: 0;
    max-width: 480px;
    &-open{
      @extend %open;
    }
  }
}
.tag{
  padding: 10px 15px;
  margin: 10px 10px 10px 0;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.17);
  text-transform: capitalize;
  &_container{
    display: inline-flex;
    flex-flow: row wrap;
    padding: 15px 0;
  }
}

// End of End point

.region-title{
  text-decoration: underline;
}

// End of client section
.banner {
  position: relative;
  margin-top: 25px;
  width: 100%;
  height: 180px;
  text-transform: uppercase;
  background-color: $dark;
  &_theme {
    background: $theme;
    text-transform: initial;
    color: $light;
    border-radius: 0.5rem;
    padding: 1rem;
  }
}

// pdf buttons
.snip {
  background-color: $dark;
  border: 1px solid $dark;
  display: inline-block;
  min-width: 200px;
  color: $orange;
  cursor: pointer;
  font-size: 17px;
  margin: 15px 0;
  outline: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border-radius: 30px;
  line-height: 1.25;
  font-family: $heading-font;
  opacity: 1;
  text-align: center;
  transition: all 0.3s ease-in;
  text-decoration: none !important;
  &:hover {
    opacity: 0.96;
    background: transparent;
    border: 1px solid $orange;
    box-shadow: 0 0 30px rgba(0,0,0,0.17);
  }
  &_blue, &_orange {
    text-decoration: none !important;
    color: $light !important;
    border: none !important;
    transition: opacity 0.3s ease-in;
    &:hover {
      opacity: 0.8;
    }
  }
  &_blue {
    $blue: rgb(0,117,208);
    background-color: $blue;
    &:hover {
      background-color: $blue;
    }
  }
  &_orange {
    background-color: $orange;
    text-decoration: none !important;
    &:hover {
      background-color: $orange;
    }
  }
  &_norm {
    text-transform: capitalize;
  }
}

.form{
  display: flex;
  flex-direction: column;
  &_input {
    display: block;
    width: 100%;
    padding: 10px 12.5px;
    font-size: 16px;
    outline: 0;
    line-height: 1.6;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: all ease-in-out .15s;
    appearance: none;
    -webkit-appearance: none;
    &:focus {
      border-color: #66afe9;
      box-shadow: 0 0 8px rgba(102, 175, 233, .6)
    }
  }
  &_label{
    display:none;
  }
}


.tab {
  background: $light;
  cursor: pointer;
  justify-content: space-between;
  // padding: 0 3px;
  position: relative;
  background-color: $dark;
  display: grid;
  align-items: center;
  color: $orange;
  border-radius: 5px;
  // border: 1px solid #f5f5f5;
  p{
    line-height: 30px;
    padding:0;
  }
  &_active {
    box-shadow: 0 2rem 1.5rem -1rem rgba($dark,0.5);
  }
  &_item {
    display: none;
    a{
      color: #F68E35;
    }
    &_active {
      display: block;
      max-width: 100vw;
      position: relative;
    }
  }
  &_switch {
    // overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 0 5px;
    padding: 0 0 20px;
    img{
      width: 100%;
    }
  }
}
.popup {
  max-width:700px;
  width:90%;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(150px, 1fr));
  grid-gap: 5px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-gap: 10px;
    color: $mute;
    padding-top: 10px;
  }
}
.listing{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 50%;
  &::after,
  &::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    mix-blend-mode: screen;
  }
  &::after{
    border-width: 0 0 25px 12px;
    border-color: transparent transparent $orange transparent;
    transform: rotate(5deg);
    top: 5px;
  }

  &::before{
    border-width: 25px 12px 0 0;
    border-color: $light transparent transparent transparent;
    left: 25px;
    transform: rotate(375deg);
    top: 20px;
  }
}
.job{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  // background: $mute;
  box-shadow: 0 0 10px rgba(0,0,0,0.17);
  padding: 15px;
  font-size: 1.25rem;
  margin: 15px 0;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  &:hover{
    color: initial;
    background: rgba($orange, 0.03);
    box-shadow: 0 0 50px rgba(0,0,0,0.17);
  }
  &_icon {
    width: 1.25rem;
    margin-right: 0.5rem;
  }
  &_location,
  &_title {
    display: flex;
    align-items: center;
  }
  &_title{
    font-family: $heading-font;
    font-weight: 500;
  }
  .snip{
    margin: 0;
    @media screen and (max-width: 769px) {
      display: none;
    }
  }
}

.video{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin: 1.5rem 0;
  border-radius: 1rem;
  background-color: var(--bg);
  box-shadow: 0 1rem 4rem rgba(0,0,0,0.17);
  iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    outline: none;
    border: none;
  }
}

.image {
  &_inline {
    display: inline-block;
    width: initial !important;
  }
  &_shadow {
    filter: drop-shadow(0 0.25rem 2rem #eef);
  }
}

.job {
  &_position {
    box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.07);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2.5rem;
    position: relative;
    a {
      text-decoration: underline !important;
      text-decoration-color: $orange !important;
    }
    &::before {
      content: attr(data-number);
      position: absolute;
      background: $orange;
      left: -0.5rem;
      top: -0.5rem;
      color: $light;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      filter: drop-shadow(5px 7.5px 20px $dark);
    }
    h3 {
      color: $orange;
    }
  }
  &_footer {
    margin-bottom: 2.5rem;
    background-color: $dark;
    color: $light;
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
    strong {
      color: $orange;
      font-weight: normal;
    }
    h2 {
      margin: 0;
    }
    ul, ol {
      padding-left: 0;
      color: $light;
      opacity: 0.8;
    }
  }
}

.canvas {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  border-radius: 0.25rem;
  margin: 1.5rem auto;
  &_board {
    display:block;
    max-width: 100%;
    background: $dark;
  }
  &_title {
    position: absolute;
    top: 84%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    -webkit-user-select: none;
    user-select: none;
    text-transform: uppercase;
  }
}

.nav {
  &_sublink {
    text-decoration: none;
  }
  &_toggle {
    position: absolute;
    right: 0.67rem;
    &_icon {
      height: 1.75rem;
    }
  }
  &_wrap {
    @media screen and (min-width: 1025px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav {
        margin-top: 0;
      }
    }
  }
}

.navbar-fixed-top .navbar-collapse {
    max-height: 450px;
}

.card {
  &_tile {
    height: 13rem;
    background-size: cover;
    background-position: center;
    transform-origin: 50% 50%;
    transition: transform 0.33s ease-in;
    &:hover {
      transform: scale(1.05);
    }
  }
}