$e-blue: rgb(58,132,212);
$e-gray: rgb(249,249,249);
$e-light: #fff;
$e-haze: #eee;
$e-theme: $theme;
$e-text: #111;
body {
  background: $e-gray;
}
.starred {
  color: $e-theme;
  font-size: 0.6rem;
}
.entity {
  background: $light;
  border-radius: 0.5rem;
  border: 1px solid $e-gray;
  padding: 0.5rem 1rem;
  text-align: center;
  box-shadow: 0 1rem 1.5rem -1rem rgba(0,0,0,0.06);
  &_wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    margin-top: 5rem;
    // padding: 1rem 1.5rem;
  }
  &_image {
    &, img {
      width: 2.5rem;
      border-radius: 50%;
      display: inline-block;
    }
  }
  &_title {
    color: $e-blue;
    font-size: 1rem;
  }
  &_fade {
    opacity: 0.5;
  }
  &_price {
    display: inline-block;
    position: relative;
    font-size: 0.8rem;
    padding-top: 0.25rem;
    &::before {
      content: "";
      height: 1px;
      background-color: $e-text;
      position: absolute;
      bottom: 40%;
      left: 0;
      right: 0;
      transform-origin: 50% 50%;
      transform: rotate(-15deg);
    }
  }
  &_offer {
    color: $e-blue;
    font-weight: 600;
  }
  &_row {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    > div:first-child {
      margin-right: 0.5rem;
    }
  }
  &_flex {
    flex: 1;
  }
  &_small {
    font-size: 0.8rem;
    &er {
      font-size: 0.67rem;
      vertical-align: middle;
    }
  }
  &_btn {
    background: $e-blue;
    color: $e-light;
    font-size: 0.67rem;
    padding: 0.1rem 0.75rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  &_field {
    border: 1px solid $e-haze;
    border-radius: 0.25rem;
    background: $e-light;
    margin: 0.5rem;
    padding: 0.25rem 0.75rem;
    &::placeholder {
      opacity: 0.5;
      font-size: 0.8rem;
    }
  }
  &_text {
    color: $e-text;
  }
}
