.share{
  display: flex;
  align-items: center;
  position: relative;
  height: 44px;
  img{
    width: 40%;
  }
  &_copy{
    position: absolute;
    padding: 8px 15px;
    border-radius: 5px;
    background: $dark;
    color: $light;
    top: -50px;
    width: 120px;
    z-index: 5;
    left: 125px;
    animation: blink 3s ease-in forwards;
  }  
  &_item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    transform-origin: 50% 50%;
    margin: 10px 7.5px 10px 0;
    background: $pale;
    border-radius: 50%;
    color: $light;
    font-size: 1.5rem;
  }
  &_toggle{
    cursor: pointer;
    z-index: 1;
    left: 12px;
    transform: scale(1.2);
    margin-left: 0;
    &d{
      animation: wobly 1s ease-out forwards;
    }
  }
}
