@keyframes showSlide {
  0%{
    transform: translateX(100.1vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes hideSlide {
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100vw);
    opacity: 1;
  }
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 27px;
  height: 27px;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  &::after {
    content: '';
    background: $mute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    transition: all 1s ease-in;
  }
  &s{
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    @media screen and (max-width: 557px) {
      transform: translateY(1rem)
    }
  }
  &_active{
    &::after {
      background: $light;
      width: 12px;
      height:12px;
    }
  }
}

.slide{
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: $mute;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  transform: translateX(105vw);
  transition: opacity 1s ease-out;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  text-decoration: none !important;
  min-height: 480px;
  overflow: hidden;
  @media screen and (min-width: 992px) {
    min-height: 540px;
    background-size: 84%;
    background-position: center left;
  }
  &::after, &::before {
    content: "";
    position: absolute;
    bottom: 0;
  }
  &::after {
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
  }
  &::before {
    @media screen and (max-width: 991px) {
      width: 100%;
      left: 0;
      right: 0;
      height: 20rem;
      background: linear-gradient($dark, $theme);
      transform: skewY(-15deg) translateY(5rem);
    }
    @media screen and (max-width: 557px) {
      transform: translateY(4.5rem);
      background: linear-gradient($light, $theme);
    }
    @media screen and (min-width: 992px) {
      width: 30rem;
      height: 100%;
      top: 0;
      right: 0;
      transform: skew(-15deg) translateX(5rem);
      z-index: 101;
      background: linear-gradient($dark, $theme);
    }
  }
  h1{
    color: $light;
    text-align: center;
    text-transform: uppercase;
    padding: 0 1rem 5rem;
    position: relative;
    z-index: 101;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    height: 10rem;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    max-width: 30rem;
    margin: 0 auto;
    &::after {
      position: relative;
      content: "Learn More";
      width: 10rem;
      font-size: 1rem;
      display: inline-flex;
      padding: 0.5rem 1.5rem;
      border-radius: 2rem;
      justify-content: center;
      transform: translateY(1rem);
      background: $light;
      color: $theme;
      font-weight: 500;
    }
    @media screen and (min-width: 992px) {
      right: 0;
      top: 0;
      width: 20rem;
      bottom: 0;
      padding: 1.5rem;
      font-size: 1.5rem;
      height: 100%;
      transform: translateX(-2.5rem);
    }
  }
  img{
    width: 100%;
  }
  &s {
    display: block;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 130px rgba(0,0,0,0.2);
    &:focus{
      outline: none;
    }
    &_container{
      // background: $dark;
      width: 100%;
      max-width: 100vw;
      overflow-x: hidden;
      position: relative;
      &:hover .slide_left,
      &:hover .slide_right {
        opacity: 1;
      }
      box-shadow: 0 5rem 3rem -2.5rem rgba(0, 0, 0, 0.33);
    }
  }
  &_active {
    position: relative;
    animation: showSlide 0.33s var(--ease) forwards;
  }
  &_left,&_right{
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: transparent;
    z-index: 11;
    color: $mute;
    font-size: 5rem;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  &_retire {
    animation: hideSlide 0.33s var(--ease) forwards; 
  }
  &_left{
    left: 15px;
  }
  &_right{
    right: 15px;
  }
}
