.dark {
  background: $dark;
  color: $light;
}
.orange{
  color: $orange;
  &_link a {
    color: $orange;
  }
  p {
    color: $orange;
  }
}
.text{
  &_left{
    text-align: left;
  }
  &_right{
    text-align: right;
  }
  &_center{
    text-align: center !important;
  }
}
.mute{
  color: $mute;
}
.hide{
  opacity: 0;
  transform: scale(0);
  &_xs{  
    display: none;
    @media screen and (min-width: 667px) {
      display: initial;
    } 
  }
}
.show{
  @extend %open;
}
.fit{
  padding: 0;
}
// center horizontally and vertically
.contain{
  flex-direction: column;
  &,&_row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_row{
    flex-flow: row wrap;
  }
}
.decorate{
  color: $orange;
}
.sold-out{
  background: #dc3545;
}
.available{
  background: #28a745;
}
.expected{
  background: $orange;
}
.ma{
  margin-left: auto;
  margin-right: auto;
}
@for $i from 1 through 4 {
  $size: $i * 25px * 0.5;
  // margin bottom
  .mb-#{$i} {
    margin-bottom: $size !important;
  }
  // margin top
  .mt-#{$i} {
    margin-top: $size !important;
  }
  // padding around
  .ma-#{$i} {
    padding: $size !important;
  }
  .pt-#{$i} {
    padding-top: $size !important;
  }
  .pb-#{$i} {
    padding-bottom: $size !important;
  }
  .pl-#{$i} {
    padding-left: $size !important;
  }
  .pr-#{$i} {
    padding-right: $size !important;
  }
}
.shade{
  box-shadow:  0 0 60px rgba(0,0,0,0.17);
}
.overlay{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba($dark, 0.3);
  border-radius: inherit;
  z-index: 5;
}
.underline {
  margin-top: 0;
  position: relative;
  text-decoration: none;
  &::before,
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
  }
  &::before{
    width: 33%;
    background: $orange;
  }
  &::after{
    width: 100%;
    background: rgba(39,48,57,.15); 
  }
}
.flex {
  justify-content: center;
  min-height: 360px;
  &,&_rev{
    flex-direction: column;
  }
  &,&_row,&_rev{
    display: flex;
    align-items: center;
  }
  &_row{
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.reverse{
  order: -1;
}
.thumb{
  width: 100px;
}

$sites: (
  facebook: #325c94,
  instagram: #fb3958,
  twitter: #00abdc,
  linkedin: #007bb6
);

@each $item, $color in $sites {
  .#{$item} {
    background: $color;
  }
}

.cafe{
  color: #F68E35;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 25fr;
  &::before {
    font-size: 2rem;
    line-height: 16px;
    color: lighten($pale, 30%);
    content: '\201f';
  }
}
.white{
  color: $light;
  font-weight: 400;
}
.slim{
  font-weight: 400;
  margin: 5px 0;
}
.map{
  max-width: calc(100vw - 50px);
  overflow-x: scroll;
}

.small {
  font-size: 0.8rem;
}

.nounderline {
  text-decoration: none !important;
}