@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500|Open+Sans:400,400i,700');

$light: #fff;
$dark: #242a33;
$darker: #000;
$mute: darken($light, 30%);
$pale: lighten($darker, 15%);
$orange: #F07444;
$theme: $orange;
$cafe: $orange;
$padding: 15px;
$margin: 25px;
$body-font: 'Open Sans', sans-serif;
$heading-font: 'Maven Pro', sans-serif;

%modal {
  position: relative;
  width: 100%;
  min-width: 300px;
  max-width: 840px;
  background: $light;
  padding: 5px 20px 25px;
  opacity: 0;
  transform: translateZ(-600px);
  transition: all 0.3s ease-out;
  box-shadow: 0 0 130px rgba(0,0,0,0.33);
  overflow-y: auto;
}
%open{
  transform: translateZ(0);
  opacity: 1;
  border-radius: 6px;
}
