<div class = 'partner mb-2'>
  <img  src = '/images/diebold.jpg'>
</div>                               
{{ markdownify $.Page.Params.description  }}
<div class = 'grid-4 mt-3'>
  <div class = 'card'>
    <img src = '/images/rsz_bank.jpg' alt = ''>
    <div class = 'overlay'>                           
      <a href = 'http://www.dieboldnixdorf.com/en-us/services/financial' target = '_blank'>Financial Services</a>         
    </div>
  </div>
  <div class = 'card'>
    <img src = '/images/rsz_jimbo.jpg' alt = ''>
    <div class = 'overlay'>             
      <a  href = 'http://www.dieboldnixdorf.com/en-us/services/retail'>REtail Services</a>                                                    
    </div>
  </div>
  <div class = 'card'>
    <img src = '/images/rsz_code.jpg' alt = ''>
    <div class = 'overlay'>
      <a href = 'http://www.dieboldnixdorf.com/en-us/software' target = '_blank'>Software</a>                               
    </div>
  </div>
  <div class = 'card'>
    <img src = '/images/rsz_error.png' alt = ''>
    <div class = 'overlay'>
      <a href = 'http://www.dieboldnixdorf.com/en-us/systems' target = '_blank'>Systems</a>
    </div>
  </div>
</div>
