<div class = 'grid-4 mt-3'>
  <div class = 'card'>
    <img src = '/images/dni-atms-cash-point.jpg' alt = 'Banking'>
    <div class = 'overlay'>                           
      <a href = 'https://www.dieboldnixdorf.com/en-us/banking' target = '_blank'>Banking</a>         
    </div>
  </div>
  <div class = 'card'>
    <img src = '/images/dniinsights-self-service.jpg' alt = 'DN series self service'>
    <div class = 'overlay'>             
      <a  href = 'https://www.dieboldnixdorf.com/en-us/banking/solutions/channels/self-service'>Self Service</a>                                                    
    </div>
  </div>
  <div class = 'card'>
    <img src = '/images/dni-atms-cash-point.jpg' alt = 'DN Series'>
    <div class = 'overlay'>
      <a href = 'https://www.dieboldnixdorf.com/en-us/banking/portfolio/systems/dn-series' target = '_blank'>DN Series</a>                               
    </div>
  </div>
  <div class = 'card'>
    <img src = '/images/rsz_error.png' alt = ''>
    <div class = 'overlay'>
      <a href = 'https://www.dieboldnixdorf.com/en-us/banking/portfolio/services' target = '_blank'>DN AllConnect Services℠</a>
    </div>
  </div>
</div>
