<div class = 'grid-2'>
  {{ range $.Page.Params.items }}
  <div class = 'aniview slow' data-av-animation = 'fadeIn'>
    <a href = '/products-services/endpoint-devices/{{ urlize (lower .)  }}/'class = 'hovereffect card'>
      <img src = '/images/{{ urlize (lower .)  }}.jpg' alt = '{{ . }}'>
      <span class = 'overlay shadow contain'>                           
        {{ . }}   
      </span>
    </a>
  </div>
  {{- end -}}
</div>            
<div class = 'mt-4'>
  {{ partial "form" . }}
</div>
