<div class = 'grid-4'>
  <div class = 'definition shade'>
    <h3 class = 'definition_title text_center'>DGS</h3> 
    <div class = 'definition_desc hide'>
      <div class = 'tabs'>
        {{- $dgs := $.Site.Data.diagnostics -}}
        <div div class = 'tab_content'>
        {{ range $dgs }}
        <div class = 'tab tab_active pl-2 pt-1 pb-1 text_left'>{{ .term }}</div>
          <div class = 'mt-1 mb-1'>
            {{ markdownify .description }}
          </div>
        {{ end }}            
        </div>
      </div>
    </div> 
  </div>
  <div class = 'definition shade'>
    <h3 class = 'definition_title text_center'>CT Scanners</h3>
    <div class = 'definition_desc hide'>
      <ul>
        <li>The GE CT scanners have innovative technologies, have ultra-low doses to the patient, are very quick and simple to use and range from 8 Slice to 512 slices</li>
      </ul>
    </div>
  </div>
  <div class = 'definition shade'>
    <h3 class = 'definition_title text_center'>MRI</h3>  
    <div class = 'definition_desc hide'>
      <ul>
        <li>GE has two types of MRI – 1.5 Tesla and 3.0 T in its range. These MRI provide sharper scans, are more comfortable and make the patient less anxious</li>
      </ul>
    </div>                                 
  </div>
  <div class = 'definition shade'>
    <h3 class = 'definition_title text_center'>Surgery</h3> 
    <div class = 'definition_desc hide'>
      <h4>Mostly for Theatres</h4>
      <ul>
        <li>C-Arm</li>
      </ul>
    </div>                         
  </div>
  <div class = 'definition shade'>
    <h3 class = 'definition_title text_center'>Nuclear Medicine</h3>
    <div class = 'definition_desc hide'>
      <ul>
        <li>PET CT</li>
        <li>Cyclotron</li>
        <li>Gamma Camera</li>        
      </ul>
    </div>
  </div> 
</div>
<div class = 'hide overlay modal_overlay contain'>
  <div class = 'definition_modal'>
    <h3 class = 'definition_term'></h3>
    <div class = 'definition_body'></div>
    <div class = 'modal_close contain'>&times;</div>
  </div>
</div> 
<div class = 'mt-4'>
  {{ partial "form" . }}
</div>
