<div class = 'tabs'>
  {{- $downloads := $.Site.Data.about.downloads -}}
  <div class = 'tab_switch grid-tab grid-4'>
    {{- range $index, $item := $downloads -}}
    <div class = 'tab pt-1 pb-1 contain {{ if eq $index 0 }} tab_active {{ end }}'>
      {{ upper $item.nav }}
    </div>
    {{- end -}}
  </div>
  <div class = 'tab_content'>
    {{- range $index, $item := $downloads -}}
    <div class = 'tab_item {{ if eq $index 0 }} tab_item_active {{ end }}'>
      <div class = 'grid-3 mt-3 mb-2'>
        {{- range $item.downloads -}}
        <div class = 'download'>
          <div class = 'card text_center pt-2 pb-2'> 
            <img src = '/icons/{{ .icon }}'  alt = 'Card image cap'>
            <div class = 'card-block'>
              <h4 class = 'card-title text_center'>{{ .name }}</h4>
              <p class = 'card-text text_center'>More info about {{ .name }}</p>
              <a  href = '/pdf/{{ .file }}' download = '{{ urlize (lower .name) }}' class = 'snip'>DOWNLOAD</a>
            </div>
          </div>
        </div>
        {{- end -}}
      </div>
    </div>
    {{- end -}}
  </div>
</div>
