<div class = 'grid-1'>
  <div class = 'prose pl-2 pr-2'>
  <!-- <div class = 'shade pl-2 pr-2'> -->
    <h3>About Us</h3>
    {{ markdownify $.Site.Data.profile.description }}
    <h3>Vision</h3>           
    <p class = 'cafe'>Our Vision is to be Africa’s most respected and trusted provider of technology for business.</p>
    <h3>Mission</h3>                  
    <p class = 'cafe'>Our Mission is to enable high-performance organisations, allowing businesses to work and communicate better, faster, and more profitably.</p>        
  </div>
  <div class = 'pl-1 pr-1 flex_rev'>
    <div class = 'mt-3'>
      <div class = 'tabs'>
        {{- $about := $.Site.Data.about.profile -}}
        <div class = 'tab_switch'>
          {{- range $index, $item := $about -}}
          <div class = 'tab {{ if eq $index 0 }} tab_active {{ end }}'>
            <img src = '/images/{{ lower $item.country }}.jpg'>
          </div>
          {{- end -}}
        </div>
        <div class = 'tab_content'>
          {{ range $index, $item := $about -}}
          <div class = 'tab_item {{ if eq $index 0 }} tab_item_active {{ end }}'>
            <h3 class = 'country-title text_left'>{{ $item.country }}</h3>
            {{ markdownify $item.description }}
          </div>
          {{- end -}}
        </div>
      </div>
    </div>
    <div class = 'reverse'>
      <h3 class = 'center'>Our Regional Presence</h3>                    
      <img src = '/images/africa.png' alt = "Computech's Regional Mark" class="africa" />
    </div>
  </div>
</div>
