---
layout: page
permalink: '/products-services/endpoint-devices/'
title: Endpoint Devices
items:
  - Accessories
  - desktops
  - Laptops
  - printers
  - Projectors & Screens
  - Tablets
--- 
<div class = 'wrap mt-2'>
  <div class = 'grid-2'>
    {% for item in page.items %}
    <div class = 'aniview slow' data-av-animation = 'fadeIn'>
      <div class = 'hovereffect card-shadow'>
        <img src = '/assets/images/{{ item | downcase | slugify }}.jpg' alt = '{{ item }}'>
        <div class = 'overlay shadow contain'>                           
          <a href = '/products-services/endpoint-devices/{{ item | downcase | slugify }}/'>{{ item }}</a>    
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>            
  <div class = 'mt-4'>
    {% include form.html %}
  </div>
</div> 