.showSingle{             
    height: 100%;
    width: 100%;
    color: white;
    background-color:  #F68E35;   
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
}
.targetDiv{
    margin-top: 10px;
    padding: 5px;
    display: none;
    text-align: justify;
    color: #141313;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    border: solid 1px #F68E35;
    
}
.clicked{

}

/*Second row*/
.showSingle1{             
    height: 100%;
    width: 100%;
    color: white;
    background-color:  #F68E35;   
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
}
.targetDiv1{
    margin-top: 10px;
    padding: 5px;
    display: none;
    text-align: justify;
    color: #141313;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    border: solid 1px #F68E35;
    
}
/*End of row*/

/*Start of row 3*/
.showSingle2{             
    height: 100%;
    width: 100%;
    color: white;
    background-color:  #F68E35;   
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
}
.targetDiv2{
    margin-top: 10px;
    padding: 5px;
    display: none;
    text-align: justify;
    color: #141313;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    border: solid 1px #F68E35;
    
}
/*End of row 3*/
/*Start of row 4*/
.showSingle3{             
    height: 100%;
    width: 100%;
    color: white;
    background-color:  #F68E35;   
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
}
.targetDiv3{
    margin-top: 10px;
    padding: 5px;
    display: none;
    text-align: justify;
    color: #141313;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    border: solid 1px #F68E35;
    
}
/*End of row 4*/
/*Start of row 5*/
.showSingle4{             
    height: 100%;
    width: 100%;
    color: white;
    background-color:  #F68E35;   
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
}
.targetDiv4{
    margin-top: 10px;
    padding: 5px;
    display: none;
    text-align: justify;
    color: #141313;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    border: solid 1px #F68E35;
    
}
/*End of row 5*/