body{

}

.rela-block {
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center;
   width: 100%;
   height: 100%;
}
.content-container {
  width: 100%;
  min-width: 320px;
  
  background-color: #fff;
  box-shadow: 8px 8px 20px 5px rgba(20,20,20,0.4);
  font-family: "Raleway";
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 4px;
  height: 100%;
}
.top-section {
  height: 100vh;
  background: url("/assets/hiker.jpg") no-repeat center;
  background-size: cover;
}
.top-section::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.45);
}


.picture-box-container {
  min-height: 500px;
}
.picture-box-container.left .picture-box-text,
.picture-box-container.right .picture-box-picture {
  float: left;
}
.picture-box-container.left .picture-box-picture,
.picture-box-container.right .picture-box-text {
  float: right;
}
.picture-box-container:nth-child(1) .header {
  font-size: 42px;
  line-height: 50px;
}
.picture-box-container:nth-child(1) .picture-box-picture {
  background:
    linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.74)

  ),
   url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/64288519198309.56372ea2d775a.jpg") no-repeat center;
}
.picture-box-container:nth-child(2) .picture-box-picture {
  background:

    linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.74)

  ),
   url("https://pbs.twimg.com/media/CVd0v1JVEAA9SFY.png:large") no-repeat center;
}
.picture-box-container:nth-child(3) .picture-box-picture {
  background:
    linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.74)

  ),

   url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/77909519198309.56372ea32456d.jpg") no-repeat center;
}

.picture-box-container:nth-child(4) .picture-box-picture {
	 background:
  linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.74)

  ),
  
  url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/77909519198309.56372ea32456d.jpg")no-repeat center;
  
}
.picture-box-text {
  position: relative;
  min-height: 500px;
  width: 40%;
  background-color: #bbb;
  background: url("http://www.interiorplace.com/product_images/e/566/GM10806L__91696.gif") no-repeat center;
  background-size: cover;
  overflow: hidden;
}
.picture-box-text::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.6);
}
.text-container {
  position: absolute;
  width: 90%;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}
.text-container span {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 3px;
  font-weight: 800;
  color: rgba(195,18,77,0.9);
}


.text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 30px;
}
.picture-box-picture {
  position: relative;
  min-height: 500px;
  width: 60%;
  background-size: cover !important;
}

.bottom-section{
	background-color: #333;
	color: #fff;
}

.wachira{
	color:  #F07444;
	margin: 50px;
	padding: 50px;
	border:1px solid  #F07444;

}