.seaTabs * { box-sizing: border-box; }

.seaTabs_switch { overflow: hidden; }

.seaTabs_tab {
  float: left;
  cursor: pointer;
}

.seaTabs_switch_active { cursor: default; }

.seaTabs_item { display: none; }

.seaTabs_content_active { display: block; }
.seaTabs_switch { }

 .seaTabs_tab {
  padding: 42px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #ccc;
  background: #f8f8f8;
 justify-content: space-between;
  
}


.seaTabs_tab:first-child {
  border-left: 1px solid #ccc;
  border-top-left-radius: 5px;
}

.seaTabs_tab:last-child { border-top-right-radius: 5px; }

.seaTabs_content { margin-top: -1px; }

.seaTabs_item {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
}

.seaTabs_switch_active {
  border-bottom: 1px solid #fff;
  background: #fff;
}

