.carousel-control {
    position: absolute;
    top: 200px;
    bottom: auto;
    left: 0;
    width: 15%;
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    filter: alpha(opacity=50);
    opacity: .5;
}
.carousel-control.left, .carousel-control.right{
    background-image: none no-repeat !important;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
}
.jumbotron{
    padding: 0px;
    margin-bottom: 0px;
	background-color: #FFFFFF;
}
#myCarousel{
    padding: 0px;
    margin-bottom: 0px;    
}
.carousel-indicators li{
    border-radius: 50% !important;
    background-color: dimgray;
    border: none;
}
.carousel-indicators li:active{
    
    background-color: white;
    
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: auto;
    display: block;      
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;
    
}
.carousel-caption {
    height: 100%;
    width: auto;
    bottom:0;
    display: table-cell;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
    
}
.caption{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: auto;
    height: auto;
    padding: 10px 0px; 
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
}
.caption h1{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    
}


/* Fade transition for carousel items */

.carousel.fade {
    opacity: 1;
}
.carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position:absolute;
    width: 100%;
    display:block !important;
    z-index:1;
}
.carousel.fade .item:first-child {
    top:auto;
    position:relative;
}
.carousel.fade .item.active {
    opacity: 1;
    transition: opacity ease-in-out .7s;
    z-index:2;
}

@media only screen and (max-width: 768px) {
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {            
        height: 310px;
    }
}
