@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

.fullwidth {
  height: 100vh;
  width: 100%;
  padding-top: 140px;
  background-image: url(/assets/attachments/IMG-20160520-WA0004-10.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;    
  
}
.fullwidth h2{
  color:#F07444; 
}
.timeline {
  width: 100%;
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  background-image: -webkit-linear-gradient(#999999, #999999);
  background-image: linear-gradient(#999999, #999999);
  background-size: 2px 100%;
  background-position: 50% 1rem;
  background-repeat: no-repeat;
  color: white;
}
@media (max-width: 40rem) {
  .timeline {
    background-position: 2rem 0;
  }
}

.timeline .item {
  position: relative;
  display: block;
  width: 50%;
  float: left;
  clear: both;
  margin-top: -1rem;
}
@media (max-width: 40rem) {
  .timeline .item {
    width: 100%;
    float: none;
    margin-top: 0;
    margin-bottom: 3rem;
  }
}
.timeline .item:before {
  content: '';
  position: absolute;
  top: 0.3rem;
  width: 1rem;
  height: 1rem;
  border: 2px solid #999999;
  border-radius: 50%;
  background-color: #e6e6e6;
}
.timeline .item:hover:before {
  background-color: #999999;
}

.timeline .item:first-child {
  margin-top: 0;
}

.timeline .item:nth-child(odd) {
  float: right;
  padding-left: 2rem;
}
.timeline .item:nth-child(odd):before {
  left: -0.5rem;
}

.timeline .item:nth-child(even) {
  padding-right: 2rem;
}
@media (max-width: 40rem) {
  .timeline .item:nth-child(even) {
    padding-right: 0;
    padding-left: 2rem;
  }
}
.timeline .item:nth-child(even):before {
  right: -0.5rem;
}
@media (max-width: 40rem) {
  .timeline .item:nth-child(even):before {
    left: -0.5rem;
  }
}

.timeline .item h2 {
  display: block;
  margin-bottom: 1rem;
  font-size: 19px;
  color:#F07444;
}
.timeline item p{
  color: white;
}

.timeline .item:nth-child(even) h2 {
  text-align: right;
}
@media (max-width: 40rem) {
  .timeline .item:nth-child(even) h2 {
    text-align: left;
  }
}
.float-finance{
  float: left;
  padding-left: 50px;
  color: #F07444;
}
.float-enterprise{
  padding-left: 300px;
  color: #F07444;
}
