<footer class = 'footer'>
  <div class = 'wrap'>
    <div class = 'grid-4 footer_upper'>
      <div>
        <h3>Endpoint Devices</h3>
        {{ range .Site.Data.products }}
        <span><a href = '/products-services/endpoint-devices/{{ urlize (lower .) }}/' title = '{{ . }}'> {{ . }}</a></span>
        {{ end }}
      </div>
      <div>
        <h3>Solutions</h3>
        {{ range $index, $s := .Site.Data.solutions }}
        <span><a href = '/products-services/{{ if eq $index 0 }}software-solutions{{ else }}services{{ end }}/{{ urlize (lower $s) }}/' title = '{{ $s }}'> {{ $s }}</a></span>
        {{ end }}
      </div>
      <div>
        <h3>About Us</h3>
        {{- range .Site.Data.aboutUs -}}
        <span><a href = '/about-us/{{ . }}/' title = 'Computech {{ . }}'>{{ . }}</a></span>
        {{- end -}}
      </div>
      <div>
        <h3>Follow Us</h3>
        {{ partial "follow" . }}   
      </div>
    </div>
    <p class = 'mute text_center mt-3 mb-1'>Copyright &copy; <span class = 'year'></span> {{ .Site.Title }}. All Rights Reserved</p>
  </div>
</footer>
