<form class = 'text_left ma card' data-action = '{{ .Site.Params.formURL }}' method = 'POST' accept-charset = 'UTF-8' id="contactform" autocomplete="off">
  <h3 class = 'underline mb-2 slim'>Need Assistance? Feel free to talk to us !</h3>
  <label for = 'name'>Full Name</label>
  <input type = 'text' class = 'mb-1 form_input'  id = 'name' name = 'Name' placeholder = 'Name' required>
  <label for = 'email'>Email</label>
  <input type = 'email' class = 'mb-1 form_input' id = 'email' name = '_replyto' placeholder = 'you@awesome.com' required>
  <label for = 'phone'>Phone</label>
  <input type = 'tel' name = 'Phone' class = 'mb-1 form_input' id = 'phone' placeholder = '25473014100' required>
  <label for = 'company'>Organization / Company</label>
  <input type = 'text' name = 'Company' class = 'mb-1 form_input' id = 'company' placeholder = 'Company' required>
  <label for = 'country'>Country</label>
  <select name = 'Country' class = 'mb-1 form_input form_country mb-1' id = 'country'  required></select>
  <label for = 'message'>Message</label>
  <textarea name = 'Message' class = 'mb-1 form_input' id = 'message' rows = '1' placeholder = 'Please enter your message' required></textarea>
  <div class = 'g-recaptcha' data-callback = 'recaptchaCallback' data-sitekey = '6LdOxwoUAAAAACdtGAhPXI4eUVqkJyAyydr7tq2H' data-them = 'dark' required></div>
  <input type="hidden" name="_gotcha">
  <div>
    <button  class = 'snip' type = 'submit' id = 'submit'> SEND</button>
  </div>
</form>
<!-- <script> include autoresize.js </script> -->