<div class = 'navbar navbar-default navbar-fixed-top' role = 'navigation'>
  <div class = 'wrap'>
    <div class = 'navbar-header'>
      <a class = 'logo' href = '/'><img src = '{{ .Site.Params.logo }}' alt = 'Computech Limited'></a>
      <button type = 'button' class = 'navbar-toggle' data-toggle = 'collapse' data-target = '.navbar-collapse'>
        <span class = 'sr-only'>Toggle navigation</span>&#9776;
      </button>
    </div>
    <div class = 'navbar-collapse collapse'>
      <ul class = 'nav navbar-nav navbar-right'>
        {{- $section := .Section }}
        {{- $permalink := .RelPermalink }}
        {{- range .Site.Data.nav }}
        <li>
          {{- $l_url := urlize .link  -}}
          {{- $url_len := add (len $l_url) 2 -}}
          {{- $t := $permalink -}}
          {{- $root_link := replace $t "/" "" -}}
          <a href = '/{{ $l_url }}/' class = 'nav_link {{ if eq $l_url $root_link }} nav_link-active {{ end }} {{ if or (eq $section "blog") (eq $section "news") }} nav_link-active {{ end }}'>{{ upper .link  }}{{ if .sublinks }}<span class = 'caret'></span>{{ end }}</a>
            {{ with .sublinks }}
            <ul class = 'dropdown-menu animated fadeIn'>
              {{ range . }}
              <li>
                {{- $s_url := urlize .sublink -}}
                <a href = '/{{ $l_url }}/{{ $s_url }}/'><span class = 'menu-link'> {{ upper .sublink }}</span>{{ if .children }}<span class = 'caret'></span>{{ end }}</a>
                  {{ with .children }}
                  <ul class = 'dropdown-menu animated fadeIn'>
                    {{ range . }}
                    {{- $c_url := urlize . -}}
                    <li><a href = '/{{ $l_url }}/{{ $s_url }}/{{ $c_url }}/'>{{ upper . }}</a></li>
                    {{ end }}
                  </ul>
                  {{ end }}
              </li>
              {{ end }}
            </ul>
            {{ end }}
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
