<div class="pager{{ if .Next }}{{ else }} pager_lean{{ end }}">
  {{ with .Next }}
  <div class="pager_item">
    <a href="{{ .Permalink }}" class="pager_link nounderline" title="{{ .Title }}">
      {{ partial "icon-back.svg" . }}
      <span class="pager_label">{{ .Title }}</span>
    </a>
  </div>
  {{ end }}

  {{ with .Prev }}
  <div class="pager_item">
    <a href="{{ .Permalink }}" class="pager_link nounderline" title="{{ .Title }}">
      <span class="pager_label">{{ .Title }}</span>
      {{ partial "icon-back.svg" . }}
    </a>
  </div>
  {{ end }}
</div>