<div class = 'wrap'>
  <div class = 'grid-4 mt-2'>
    {{ range .Site.Data.productsServices }}
    {{ $str := replace (urlize .) "--" "-" }}
    {{ $bg := printf "/images/%s.jpg" $str }}
    <a class='space-bound aniview slow card card_tile' data-av-animation='fadeIn' href = '/products-services/{{ replace (urlize .) "--" "-" }}/' style="background-image: url({{ $bg }})">
      <span class='overlay shadow contain'>                           
        {{ upper . }}
      </span>
    </a>
    {{ end }}
    {{ if $.Page.IsHome }}
    <a class='space-bound aniview slow card card_tile' data-av-animation='fadeIn' href = 'https://keydata.netlify.app/' style="background-image: url(/images/about-key-data.jpg)" target="_blank" rel="noopener">
      <span class='overlay shadow contain'>   TIM Solutions
      </span>
    </a>
    {{ end }}
  </div>
</div>
