<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://www.cnet.com/news/amazon-made-this-injured-warehouse-worker-sit-10-hours-a-day-doing-nothing/"
    },
    "url": "https://www.cnet.com/news/amazon-made-this-injured-warehouse-worker-sit-10-hours-a-day-doing-nothing/",
    "headline": "Amazon made this injured warehouse worker sit 10 hours a day doing nothing",
    "description": "David Gallagher, who is on workers' comp, tried to get approval for a leave. He was denied twice over the course of a month.",
    "keywords": "Culture, Internet, Amazon",
    "image": {
      "@type": "ImageObject",
      "url": "https://cnet3.cbsistatic.com/img/f_038mfMKwGjoZF4fZSsoUoCW0w=/1200x675/2020/06/09/7b960d61-c7dc-4775-9e14-afa2c7f4b3f5/gettyimages-829376990.jpg",
      "width": "1200",
      "height": "675"
    },
    "author": {
      "@type": "Person",
      "name": "Ben Fox Rubin"
    },
    "datePublished": "2020-06-10T05:00:13-0700",
    "dateModified": "2020-06-10T05:00:13-0700",
    "publisher": {
      "@type": "Organization",
      "name": "CNET",
      "logo": {
        "@type": "ImageObject",
        "url": "https://cnet4.cbsistatic.com/fly/bundles/cnetcss/images/core/redball/logo_192.png",
        "width": "250",
        "height": "250"
      }
    },
    "articleBody": "Work was busy at his Sacramento warehouse. Fellow Amazon employees were yadayada",
    "speakable": {
      "@type": "SpeakableSpecification",
      "cssSelector": [
        ".speakableText",
        ".article-dek",
        ".speakableTextP1",
        ".speakableTextP2"
      ]
    }
  }
</script>
