<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

{{- $bootstrapPath := "js/bootstrap.min.js" }}
{{- $bootstrap := resources.Get $bootstrapPath | resources.ExecuteAsTemplate $bootstrapPath . }}

{{- $particlesPath := "js/particles.js" }}
{{- $particles := resources.Get $particlesPath | resources.ExecuteAsTemplate $particlesPath . }}

{{- $particlesjsonPath := "js/particlesjson.js" }}
{{- $particlesjson := resources.Get $particlesjsonPath | resources.ExecuteAsTemplate $particlesjsonPath . }}

{{- $indexPath := "js/index.js" }}
{{- $index := resources.Get $indexPath | resources.ExecuteAsTemplate $indexPath . }}

{{- $mainScriptPath := "js/main.js" }}
{{- $main := resources.Get $mainScriptPath | resources.ExecuteAsTemplate $mainScriptPath . }}

{{- $bundle := slice $bootstrap $index $particles $particlesjson $main | resources.Concat "js/bundle.js" | resources.Fingerprint "sha512" }}
<script src = '{{ $bundle.Permalink }}'></script>
