<div class = 'share mb-2'>
  <a class = 'share_item facebook' href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook"
    >
    <img src = '/images/facebook.svg' alt = 'share' class="share_image">
  </a>
  <a class = 'share_item twitter' href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}" title="Share on Twitter"
  >
    <img src = '/images/twitter.svg' alt = 'share' class="share_image">
  </a>
  
  <script>
    function shareViaLinkedin() {
      window.open('http://www.linkedin.com/shareArticle?mini=true&url='+encodeURIComponent({{ .Permalink }}), '', 'left=0,top=0,width=650,height=420,personalbar=0,toolbar=0,scrollbars=0,resizable=0');
    }
  </script>
  
  <a rel='nofollow' class = 'share_item linkedin'  title="Share on LinkedIn" target='_blank' href='#linkidenshare' onclick="shareViaLinkedin()">
    <img src ='/images/linkedin.svg' alt = 'icon'  class="share_image"/>
  </a>
  <a class = 'share_item copy' href = '{{ .Permalink }}'>
    <img src ='/images/copy.svg' alt = 'icon' class="share_image" />
  </a>
</div>
