{{- define "main" }}
{{- $slides := .Params.slides -}}
<div class = 'slides_container mb-4'>
  <!-- <div id = 'particles-js'></div> -->
  <div class = 'slides' tabindex = '0'>
  {{- range $index, $slide := $slides -}}
    <div class = 'slide {{ if eq $index 0 }} slide_active {{ end }}' style = 'background-image: url({{ $slide.image }})'>
      <!-- <h1>{{ markdownify $slide.description }}</h1> -->
    </div>
  {{- end -}}
  </div>
  <div class = 'dots'>
  {{- range $index, $s := $slides -}}
    <div class = 'dot {{ if eq $index 0 }} dot_active {{ end }}'></div>
  {{- end -}}
  </div>
  <div class = 'direction'>
    <div class = 'slide_left'><span class = 'angle__left'></span></div>
    <div class = 'slide_right'><span class = 'angle__right'></span></div>
  </div>
</div>

{{- partial "products-services" . -}}

<section class = 'wrap mb-4 mt-4'>
  <h5 class = 'orange center pt-4'>TALK TO SALES</h5>
  <h2 class = 'center'>Our experts love to answer questions.</h2>
  <div class = 'mt-4 grid-1 grid-tab'>
    <div class = 'dark pt-2 pb-2 pl-1 pr-1'>
    <h5 class = 'pl-2 orange'>OUR SERVICE CENTRE</h5>
    <ul class = 'list'>
      <li><span class = 'listing'></span>One Stop Shop for all IT related repairs</li>
      <li><span class = 'listing'></span>HP Authorised Service Centre and HP Gold Partner</li>
      <li><span class = 'listing'></span>Excellent customer service to meet all your needs</li>
      <li><span class = 'listing'></span>Fully equipped Service Centre with certified engineers offering warranty support and repairs</li>
    </ul>
    </div>
    <div>{{ partial "form" . }}</div>
  </div>
</section>
{{ end }}
