<div class = 'wrap_min pt-3 mt-2 grid-reverse post'>
  <div class = 'blog__posts'>
    <div class = 'editor'>
      <h5 class = 'article_{{ .Params.categories }}'>{{ .Params.categories }}</h5>
      <strong><time>{{ .Date }}</time></strong>
      <h2>{{ .Title }}</h2>
      {{- partial "share" . -}}
    </div>
    <div class = 'post_body'>
      <img src = '/assets/news/{{ .Params.image.name }}.{{ .Params.image.type }}' alt = "{{ replace .Params.image.description "'" "" }}" class = 'blog__thumb'>
      {{ .Content }}
    </div>
  </div>
</div>
