<div class = 'wrap_min pt-4 mt-2'>
  {{- $pages := where .Site.RegularPages "Section" .Section }}
  {{- $size := sub (len (.Paginator .Paginator.PageSize).Pages) 1 }}
  {{- range $index, $article := (.Paginate $pages).Pages }}
  <article class = 'article mb-4'>
    <a href = '{{ if .Params.external }}{{ .Params.link }}{{ else }}{{ $article.Permalink }}{{ end }}' {{ if eq $index 0 }} class = 'grid-reverse article_first' {{ end }} {{ if .Params.external }} target="_blank" rel="noopener"{{ end }}>
      <figure class = 'article_thumb{{ if not (eq $index 0) }} clipped{{ end }}'>
        <img src = '/images/{{ $article.Params.image.name }}' alt = '{{ replace $article.Params.description "'" "" }}' class = 'blog__thumb'>
      </figure>
      <div class = 'article_meta {{ if eq $index 0 }} center_y {{ end }}'>
        {{- with $article.Params.categories }}
        <h5 class = 'article_taxonomy'>{{ upper (index . 0) }}</h5>
        {{- end }}
        <h3>{{ if eq $index 0 }}{{ truncate 80 $article.Title }}{{ else }}{{ $article.Title }}{{ end }}</h3>
        <time>{{ dateFormat "02 January, 2006" $article.Date  }}</time>
        <div class = 'article_excerpt {{ if eq $index 0 }} visible {{ end }}'>
          <p>{{ $article.Plain | truncate 100 }}</p>
        </div>
      </div>
    </a>
  </article>
  {{- if and (eq $index 0) (gt $size 1)  }}
  <div class = 'grid-2'>
    {{- end }}
    {{- if and (eq $index $size) (gt $size 1) }}
  </div>
  {{- end }}
  {{- end }}

  {{- template "_internal/pagination.html" . }}
</div>  
