<div class = 'wrap_min pt-3 mt-2 post'>
  <div class = 'post_content'>
    <div class = 'editor'>
      <!-- {{ with .Params.categories }}<h5 class = 'article_taxonomy'>{{ upper (index . 0) }}</h5>{{ end }} -->
      <strong><time>{{ dateFormat "02 January, 2006" .Date }}</time></strong>
      <h2>{{ .Title }}</h2>
      {{- partial "share" . -}}
    </div>
    {{- $image := .Params.image }}
    <div class = 'post_body'>
      <img src = '/images/{{ with $image.main }}{{ . }}{{ else }}{{ $image.name }}{{ end }}' alt = "{{ replace $image.description "'" "" }}" class = 'blog__thumb'>
      {{ .Content }}
      <!-- {{ partial "pager" . }} -->
    </div>
  </div>
</div>
