{{ define "main" }}
<div class = 'grid-1'>  
  <div class = 'address'>
    {{ $contacts := .Site.Data.contacts }}
    <div class = 'tabs'>
      <div class = 'tab_switch'>
        {{ range $index, $contact := $contacts }}
        <div class = 'tab {{ if eq $index 0 }}tab_active{{ end }}'>
          <img src = '/country/{{ lower $contact.country }}.jpg'>
        </div>
        {{ end }}
      </div>
      
      <div class = 'tab_content profile-text'>
        {{ range $index, $contact := $contacts }}
        <div class = 'tab_item {{ if eq $index 0 }}tab_item_active{{ end }}'>
          <h3 class = 'slim'>{{ $contact.country }}</h3>
          {{ range $contact.regions }}
            <p><span class = 'region-title'>{{ .name }}</span></p>
            {{ range .details }}
              {{ markdownify . }}
            {{ end }}
            {{ with .directions }}
            <div class = 'map mt-1 mb-1'>
                {{ . }}
            </div>
            {{ end }}
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>             
  <div>            
    {{ partial "form" . }}
  </div>
</div>    
<div class = 'overlay modal_overlay contain hide'>
  <div class = 'definition_modal pt-4 popup'>
    <div class = 'definition_body'></div> 
    <span class = 'definition_term'></span>
    <div class = 'modal_close contain'>&times;</div>
  </div>
</div>
{{ end }}
