{{ define "main" }}
{{- $devices := .Params.items -}}
{{ $bg := "/images"  }}
<style>
  {{- range $index, $device := $devices -}}
    .device_{{ $index }} {
      background-image: url({{ $bg }}/{{ $device.image }});
    }
  {{- end -}}
</style>
<div class = 'grid-2 mt-4 wrap'>
  {{- range $index, $device := $devices -}}

  <div class = 'pd' itemscope itemtype = 'http://schema.org/Product'>
    <div class = 'pd_pic device_{{ $index }}' itemprop = 'image' content = '{{ $.Site.BaseURL }}{{ $bg }}/{{ $device.image }}'>
      {{- with $device.brand }}
        <span itemprop = 'brand' content = '{{ . }}' ></span>
      {{- end -}}
    </div>
    <div class = 'pd_body'>
      <div class = 'pd_desc' itemprop = 'name'>{{ $device.name }}</div>
      <div class = 'pd_price' itemprop = 'offers' itemscope itemtype = 'http://schema.org/Offer'>
        <span itemprop = 'priceCurrency' content = 'KES'></span>
        <span itemprop = 'price' content = '{{ replace (replace $device.price "KES" "") "," "" }}'>{{ $device.price }}</span>
      </div>
      <div class = 'pd_status {{ urlize (lower $device.status) }}'>{{ $device.status }}</div>
    </div>
    {{- with $device.description -}}
    <div class = 'pd_tail'>
      <span itemprop = 'description' content = '{{ delimit . ", " "" }}'></span>
      {{ if reflect.IsSlice . }}
        {{- range . -}}
        <div class = 'pd_spec'>{{ . }}</div>
        {{- end -}}
      {{ else }}
      <div class = 'pd_spec'>{{ . }}</div>
      {{ end }}
    </div>
    {{- end -}}
  </div>
  {{- end -}}       
</div>
{{ end }}
