---
layout: default
---
{{ content }}
<div class = 'home blog'>
  <div class = 'wrap grid-fibonacci mt-4'>
    <div class = ''>
    {% for post in paginator.posts %}  
      <div class = 'post_item text_center'>
        {% if post.image %}
        <!-- <figure>
          <a href = '{{ post.url }}' title = '{{ post.title }}'><img src = '/assets/posts/{{ post.placeholder }}' class = 'post_image' alt = '{{ post.title }}' title = '{{ post.title }}' srcset = '/assets/posts/{{ post.image }}' /></a>
        </figure> -->
        {% endif %}
        <article>
          <header>
            <h2 class = 'entry-title'>
              <a href = '{{ post.url }}' rel = 'bookmark'>{{ post.title }}</a>
            </h2>                               
          </header>
          <p>{{ post.content | strip_html | truncate: 80  }}</p>
          <a class = 'excerpt_more' href = '{{ post.url }}' title = '{{ post.title }}'>Read more</a>
        </article>
      </div>
    {% endfor %}
    </div>
    <div>
      <aside class = 'shade' role = 'complementary'>
        {% include sidebar.md %}
      </aside>
    </div>        
  </div>
</div>
                  