---
layout: page
---
{%- assign category = page.title | downcase | slugify -%}
{%- assign devices = site.data.devices[category] -%}
{%- assign imagePath = '/assets/devices/' | append: category | append: '/' -%}
<style>
  {%- for t in devices -%}
    .z_{{ forloop.index }} {
      background-image: url({{ imagePath }}{% if t.brand %}{{ t.brand }}/{% endif %}{{ t.image }});
    }
  {%- endfor -%}
</style>
<div class = 'grid-2 mt-4'>
  {%- for item in devices -%}
  <div class = 'pd' itemscope itemtype = 'http://schema.org/Product'>
    {%- if item.brand -%}
      {%- assign imageUrl = imagePath | append: item.brand | append: '/' | append : item.image -%} 
    {%- else -%}
      {%- assign imageUrl = imagePath | append : item.image -%} 
    {%- endif -%}
    <div class = 'pd_pic z_{{forloop.index}}' itemprop = 'image' content = '{{ imageUrl }}'>
      {%- if item.brand %}
        <span itemprop = 'brand' content = '{{ item.brand }}' ></span>
      {%- endif -%}
    </div>
    <div class = 'pd_body'>
      <div class = 'pd_desc' itemprop = 'name'>{{ item.name }}</div>
      <div class = 'pd_price' itemprop = 'offers' itemscope itemtype = 'http://schema.org/Offer'>
        <span itemprop = 'priceCurrency' content = 'KES'></span>
        <span itemprop = 'price' content = '{{ item.price | replace: "KES", "" | replace:",", "" | lstrip }}'>{{ item.price }}</span>
      </div>
      <div class = 'pd_status {{ item.status | slugify | downcase }}'>{{ item.status }}</div>
    </div>
    {%- if item.description -%}
    <div class = 'pd_tail'>
      <span itemprop = 'description' content = "{{ item.description | join:  ',' | replace: '"', '' }}"></span>
      {%- for detail in item.description -%}
      <div class = 'pd_spec'>{{ detail }}</div>
      {%- endfor -%}
    </div>
    {%- endif -%}
  </div>
  {%- endfor -%}       
</div>
