---
layout: default
---
{%- include banner.html -%}
<div class = 'mb-2'>
  <div class = 'wrap {% unless page.full -%}grid-fibonacci{% endunless %}'>
    <div>
    {{ content }}
    </div>
    {%- unless page.full -%}
    <div>
      <aside class = 'shade'>
        {%- assign title = page.title | downcase -%}
        <h4>Need more information about {{ page.title }}?</h4>
        <p class = 'pale'>Send us a message and will get back to you as soon as possible.</p>
        <div class = 'simple_button snip'>CONTACT US</div>
        <div class = 'modal_overlay overlay hide contain'>
          <div class = 'simple_modal'>
              {%- include form.html -%}
            <div class = 'modal_close'>&times;</div>
          </div>
        </div>
      </aside>
    </div>
    {%- endunless -%}
  </div>
</div>