---
layout: default
---
<div class='wrap mt-4 grid-fibonacci'>
  <article class='shade post'>
    <header class='entry-header'>
      <h1>{{ page.title }}</h1>		
      <div class='entry-meta'>
        <span>Posted on <a href='' rel='bookmark'><time datetime='{{ page.date }}'>September 4, 2017</time></a></span><span class='byline'> by <span><a class='url fn n' href=''>{{ site.title }}</a></span></span>	
      </div>
    </header>
    <div class='entry-content'>
      {{ content }}  
      {% include share.html %}	
    </div>
    {% include comments.html %}
  </article>
  <div>
    <aside class = 'shade' role = 'complementary'>
      {% include sidebar.html %}
    </aside>
  </div>
</div>
</div>
{%- include autoresize.html -%}